[2019-10-15 17:24] daltskin opened #1 "Run azure/login@v1 = login failed"
[code]

Generates:

Run azure/login@v1
/usr/bin/az --version
WARNING: You have 3 updates available. Consider updating your CLI installation.
azure-cli                         2.0.74 *

command-modules-nspkg              2.0.3
core                              2.0.74 *
nspkg                              3.0.4
telemetry                          1.0.3 *

Python location '/opt/az/bin/python3'
Extensio

[2019-10-15 17:26] daltskin commented on #1
As per: https://github.com/Azure/actions

should be:

[code]

[2019-11-18 15:29] srijken opened #3 "deploying WebJob"
How can this be used to deploy a WebJob project to an AppService?

[2019-11-21 16:38] michaelbats opened #4 "Post deployment scripts/options"
Is it possible to run post-script actions? such as an yarn install and start?

If not possible part of the action, would it be possible to link in an example of how to solve this issue?

[2019-11-24 02:38] alaatm opened #5 "Run from package deployment"
Is it possible to use [run from package](https://github.com/Azure/app-service-announcements/issues/84) deployment? This seems the default for [functions-action](https://github.com/Azure/functions-action) which takes care of these steps:
- Putting the zip in `home/data/SitePackages`
- Setting package name in `packagename.txt`
- Setting `WEBSITE_RUN_FROM_PACKAGE` to 1 in app settings

Also the [Azur

[2019-12-03 04:16] Hazhzeng opened #6 "WebApp action continues when appname-slotname mismatches SCM credentials"
The **slot-name** setting will be ignored when deploying using SCM credentials.
Since the SCM credential only have access to either production/slot site, we cannot derived web app slot from the product site SCM credentials.

When SCM credential is used, I would recommend concatenating **appname-slotname** as sitename, and perform a validation against SCM credentals' destinationAppUrl.

This issue

[2019-12-16 15:26] rriski opened #7 "Deploy to Azure App Service fails with "Encountered a retriable status code: 409. Message: 'Conflict'""
Using github actions with azure/webapps-deploy@v1 fails with a 409 response. Sometimes, seemingly randomly, the deploy goes through. In addition, the annotations display [object Object] as the error. Rerunning the action sometimes resolves the issue, sometimes not.

<img width="1305" alt="image" src="https://user-images.githubusercontent.com/25483483/70918824-672cee80-2028-11ea-9218-46e951769c88.p

[2019-12-19 09:38] SumiranAgg commented on #1
@daltskin Can you use azure/login@v1 now?

[2019-12-19 09:48] SumiranAgg commented on #4
Your requirement looks more like startup command. You can use https://github.com/Azure/appservice-settings action to update the config setting.

[2019-12-19 09:50] SumiranAgg commented on #5
You are right currently we have added auto-detect logic only which defaults to zip deploy. We can add provision similar to additional deployment techniques in the task.
@N-Usha Please look into it.

[2019-12-19 10:31] daltskin commented on #1
Yes - that now works, thanks for the update.

[2019-12-19 10:31] #1 closed

[2019-12-19 11:42] Durisvk opened #10 "Pipelines started crashing in last few hours"
The jobs started to crash with `Error: Cannot find module 'azure-actions-webclient/webClient'` which is imported in https://github.com/microsoft/pipelines-appservice-lib/blob/master/packages/appservice-rest/src/Kudu/KuduServiceClient.ts#L3

_I believe the issue is caused by one of the last few commits made in this repository:_

https://github.com/Azure/webapps-deploy/commit/bbd69d2cbae29328417a9b4

[2019-12-19 13:07] christiandw commented on #10
@SumiranAgg Having the exact same issue - currently unable to deploy via Actions

![Screenshot from 2019-12-19 14-04-38](https://user-images.githubusercontent.com/54848451/71175788-a6e21900-2268-11ea-9e11-cd0bc047b250.png)

[2019-12-19 14:43] SumiranAgg commented on #10
Could be a regression. Will rollback.

[2019-12-19 15:10] riverbit commented on #10
I can confirm that the issue still persists.

[2019-12-19 15:22] SumiranAgg commented on #10
Are you pointing to azure/webapps-deploy@v1 ? Or is it releases/v1

[2019-12-19 15:24] riverbit commented on #10
It's `Azure/webapps-deploy@v1`

[2019-12-19 15:27] riverbit commented on #10
I have just restarted the test and it does work now. Thanks @SumiranAgg for your quick help!

[2019-12-19 15:27] SumiranAgg commented on #10
Glad to know its working!

[2019-12-19 15:27] #10 closed

[2019-12-19 15:30] #4 closed

[2019-12-21 04:36] k-miyake commented on #5
In my case, just setting `WEBSITE_RUN_FROM_PACKAGE = 1` in app settings enabled Run From Package.

[2019-12-23 09:49] SumiranAgg commented on #5
Yeah thats the right way to go.

[2020-02-20 23:24] kodyang opened #20 "Remove extra files on deploy"
I have noticed the deployment only creates new files and overwrites existing ones, but does not delete files not part of the deployment. This is causing our workspace to be cluttered and may lead to harder to pinpoint issues in the future.

Is there the option to delete the old files as new ones are deployed?

This is a feature available through other [existing deployment options](https://stackove

[2020-02-27 06:33] #5 closed

[2020-03-02 21:58] dwhieb opened #25 "app-name setting incorrect when creating GH action from portal"
Apologies if this isn't the correct place to report this issue - feel free to direct me elsewhere!

When I set up deployment using GitHub Actions from the Azure Portal, Azure automatically creates a workflow using the webapps-deploy action in my repository, with the following setting:

[code]

However, this format for the `app-name` property fails validation when the webapps-deploy action runs, on

[2020-03-04 08:36] olaj opened #26 "Corrupt zip file when deploying?"
I'm not sure this is an issue with this action or something on Azure but i try here first.

My deployments has worked fine for a while but when i tried to deploy today i started to get these errors in the eventlog on Azure.

`ZIP_SUPPORT::OpenZipFile(861): Failed to read central end of central directory record due to signature mismatch. (Path:"\\?\d:\local\SitePackages\812114890.zip" Err:0x8007026

[2020-03-05 07:59] olaj commented on #26
Seems to be some issue with the action. Just tried a deployment via Azure Devops instead and that worked fine. Probably some kind of issue with the zip (as the "signature mismatch" indicates). Would be nice if someone could take a look at it. Let me know if you need more info.

[2020-03-19 06:41] olaj commented on #26
Anyone? It's been two week. Still the same error.

[2020-04-08 15:13] chandan-g-bhagat opened #28 "Deployment Failed with Error: Error: Publish profile does not contain kudu URL"
![image](https://user-images.githubusercontent.com/6848264/78800829-a1f1d280-79db-11ea-9b09-3f01a5d1ebbc.png)

Failed to fetch credentials from Publish Profile. For more details on how to set publish profile credentials refer https://aka.ms/create-secrets-for-GitHub-workflows
Deployment Failed with Error: Error: Publish profile does not contain kudu URL
On deployment I got this error. I have added

[2020-04-09 06:37] RoopeshNair commented on #28
Do you have `publishUrl` attribute in your publishprofile file?

[2020-04-10 19:18] lcm98 commented on #28
Having the same issue, our credentials were set up automatically via our App Center's Deployment center, after that didn't work we tried going manually via the error link (https://aka.ms/create-secrets-for-GitHub-workflows).

Is there any examples of what the secret value (publish profile) should look like?

[2020-04-10 19:44] chandan-g-bhagat commented on #28
Actually I fixed it, There was issue in publish url. It didn't have scm in the url.

[2020-04-10 19:46] chandan-g-bhagat commented on #28
Actually when you open the publish profile in any text editor, you need to add entire content of that file name as secret. I think to be precise, rhat should contain the publish setting of type web deploy with the publish url as https://<example>.scm.azurewebsites.net

[2020-04-10 20:00] lcm98 commented on #28
@chandan-g-bhagat
This is the Publish Profile I get from Azure (sensitive data removed)

[code]

Do I include everything, the <publishData> tags as well as all 3 publish profiles?

So I need to change the publishURL that they provide? Will get back to you with how that works.

[2020-04-10 20:05] chandan-g-bhagat commented on #28
@lcm98
[code]

I had the same issue in this publishurl, use
[app-name].scm.azurewebsites.net instead of
waws-prod.publish.azurewebsites.windows.net

[2020-04-10 20:07] lcm98 commented on #28
@chandan-g-bhagat Ok I'll try that, should I include the 2 FTP publish profiles or remove them, or does it not matter?

[2020-04-10 20:12] chandan-g-bhagat commented on #28
@lcm98 I think it won't be any issues removing them. However, I didn't removed it. You can try it. But I can assure that ot wouldn't affect removing those 2 ftp. You need msdeploy though.

[2020-04-10 20:13] #28 closed

[2020-04-10 20:30] lcm98 commented on #28
Yes that got it to work, thank you very much, was a life saver.

On a side note, we setup the publishing profile for another app service right after spending hours on this one, and it actually created the publishURL correctly, so we didn't have to change anything, which is kind of... funny?

[2020-04-10 20:40] chandan-g-bhagat commented on #28
@lcm98 glad it worked. It took me a working day to figure this out. There might be some issues while fetching the publish profile. I didn't find any setting to generate scm url in publish profile.! Good day!

[2020-05-12 19:51] Frank-Krick opened #32 "some files in node_modules are not updated"
My deployment of a typescript/node based web app does not update files in node_modules.

If I delete the offending file, it will be updated with the new version on the next deployment.

[2020-05-14 05:46] eaarora-ms commented on #7
@rriski Sorry for the delay in reply. The message mostly occurs when there are simultaneous operations or deployments happening on the app service. Can you please confirm if the issue still persists and if you are doing any parallel deployments? Thanks.

[2020-05-15 05:32] snorydr opened #33 "It isn't possible to deploy to a virtual application"
Azure Pipelines App Service Deploy tasks have the "VirtualApplication" input to allow deployment to a virtual application within the main App Service. There is no equivalent in this Action. Is this by design?

[2020-05-15 07:03] eaarora-ms commented on #33
@snorydr  Yes for now we do not have virtual application deployment in Actions. We will be adding it on a later stage.

[2020-05-15 07:06] eaarora-ms commented on #25
@dwhieb Thanks for pointing this out. Adding this to our list of future enhancements.

[2020-05-16 20:30] p0onage opened #34 "Can't Select Deployment Folder"
My repo has many projects inside and when I'm using GitHub actions it is deploying the entire repo to Azure. After looking into this I don't see a way we can set the default deployment folder but it is unusable to me unless I can achieve this

Thanks,
Joshua

[2020-05-18 06:50] eaarora-ms commented on #34
Hi @p0onage  You can specify your folder or package using the following snippet:

`
name: 'Run Azure webapp deploy action using publish profile credentials'
      uses: azure/webapps-deploy@v2
      with:
        app-name: node-rn
        package: '$(System.DefaultWorkingDirectory)/_aabb'
`

Please let us know if this works for you.

[2020-05-18 06:52] eaarora-ms commented on #34
`
- name: 'Run Azure webapp deploy action using publish profile credentials'
      uses: azure/webapps-deploy@v2
      with:
        app-name: node-rn
        publish-profile: ${{ secrets.azureWebAppPublishProfile }}
`

[2020-05-18 06:53] eaarora-ms commented on #34
Hi @p0onage  You can specify your folder or package using the following snippet:

[code]

Please let us know if this works for you.

[2020-05-18 06:58] eaarora-ms commented on #34
Reference: https://github.com/Azure/webapps-deploy/blob/master/action.yml#L15

[2020-05-18 07:10] p0onage commented on #34
Ahh didn’t see that thank you

[2020-05-18 07:10] #34 closed

[2020-05-22 05:32] eaarora-ms commented on #7
CLosing due to no response. Please comment to re-open.

[2020-05-22 05:32] #7 closed

[2020-05-22 05:43] eaarora-ms commented on #20
@kodyang The existing deployment options that you have mentioned is msdeploy, however, we have started using zipdeploy in actions as well as in our newer tasks.
According to the documentation here: https://docs.microsoft.com/en-us/azure/app-service/deploy-zipdeploy Deletes the files left over from a previous deployment. However the zip deploy will only delete files that were part of a previous dep

[2020-05-24 09:19] compulim commented on #20
@eaarora-ms your link is 404.

![image](https://user-images.githubusercontent.com/1622400/82750350-6f6e2000-9d64-11ea-979d-b78373a34748.png)

Agree with @kodyang, using `azure/webapps-deploy` to deploy, it don't remove existing files, making the web app very difficult to debug because of extraneous files (development environment != production web app).

You can repro by deploying a normal Node.js

[2020-05-25 14:19] ThomasShaped commented on #20
I believe the correct link is https://docs.microsoft.com/en-us/azure/app-service/deploy-zip

@eaarora-ms This hasn't been my experience. My application has always been deployed via GitHub Actions but old project files still existed inside the webapp after they were deleted from my GitHub repo.

[2020-05-31 05:38] sajeetharan commented on #1
@daltskin I am using azure/login@v1 and getting same error

[2020-06-08 21:13] brasky opened #36 "Receiving "Publish profile does not contain kudu URL" Error"
I'm using webapps-deploy to deploy a linux webapp through actions, which I had done before with no issues a few months ago, but I believe now the publish profile is pointing to a publish URL which this action does not recognize.

You can see here the failure I'm referring to here:
https://github.com/brasky/OpenSync/actions/runs/129035722

I noticed in an old PublishSettings for a previous site I d

[2020-06-10 05:35] brasky commented on #36
No idea how I overlooked this but in the application settings of the app it had WEBSITE_WEBDEPLOY_USE_SCM set to false... Once I set it to true the publish profile had a *.scm.azurewebsites.net publishUrl.

[2020-06-10 05:35] #36 closed

[2020-06-18 22:19] guillaumemeyer opened #37 "startup-command parameter is ignored"
We're using this GitHub action to deploy an app to Azure App Services.
The workflows seems to works (and the deployment occurs) but the `startup-command` is ignored, and GitHub raises an error:

![image](https://user-images.githubusercontent.com/1385518/85077328-4ce3f100-b1c2-11ea-82ff-5224fda1f5e9.png)

This message contradicts the [yaml action definition file](https://github.com/Azure/webapps-de

[2020-06-22 15:48] vermaaditya opened #38 "WebGL application hosted on Azure App Service Plan taking time to load unityweb"
Hi,

We are having a WebGL project which we are trying to host in an Azure App service plan. When we host the site in the App Service plan in Central US region and try to access the same from either Azure VM (P1v2: 1) in Central US or a machine in Asia region the time for a file to load is very high.

Please find the network trace screenshot of one such request -
![image](https://user-images.githu

[2020-06-23 15:25] vermaaditya commented on #38
@eaarora-ms - can you kindly look into this and provide pointers if any.?

[2020-06-30 05:22] N-Usha commented on #38
@vermaaditya - Thanks for reaching out. We will investigate this and  revert.

[2020-07-03 07:21] wmmihaa opened #42 "ZIP Deploy failed"
I've enabled GitHub Actions for my Azure App Service ```Dev``` Slot, but it fails on the deployment step using the webapps-deploy action.
[code]

### Workflow
[code]
### Output
[code]

[2020-07-03 10:54] wmmihaa commented on #42
##UPDATE
After updating the deploy.cmd file from
[code]

[2020-07-06 06:26] aksm-ms commented on #37
startup-command input is not supported in v1. It is supported in v2.
Please refer the inputs for v1 - https://github.com/Azure/webapps-deploy/blob/v1/action.yml

[2020-07-07 13:58] guillaumemeyer commented on #37
Thanks @aksm-ms . I just upgraded to v2 and it works.

As a feedback, it's quite easy from this repo to find docs about v2 without realizing it (or maybe it's just me ;-) ).
For instance from this page, you have to notice then switch the tag:
![image](https://user-images.githubusercontent.com/1385518/86792185-86de3f80-c06a-11ea-80ea-b049f7646626.png)
Maybe including the version number as a comment

[2020-07-07 14:08] guillaumemeyer commented on #37
Rectification, I now have this issue:
![image](https://user-images.githubusercontent.com/1385518/86793208-86927400-c06b-11ea-9cdd-4811f70476b9.png)
We're running on Linux container, so I think this issue is related to how we're managing publish-profile...
Is it useful to try with v2.1? Any documentation that would describe the differences?

[2020-07-07 14:14] guillaumemeyer commented on #37
Same problem with v2.1

[2020-07-07 19:01] suyash691 commented on #37
+1 on this issue with v2
The line
[code]
This will always cause an exception to be thrown if startupcommand is present since this will evaluate to true with a non empty string

[2020-07-10 19:32] frank-fischer-by opened #45 "Support for YAML/JSON formatted deploy credentials"
Hi,

so far I've had great success using this action together with https://github.com/Azure/login.
I like the idea of publish profiles for specific workflows, since they seem slightly less cumbersome and akin to SAS tokens.

I was slightly surprised, when I wanted to use the lazy approach and set up multiple CI pipelines for different WebApps:

[code]

produces

[code]

---

https://github.com/Azu

[2020-07-11 06:58] RockManJoe64 opened #46 "This job just started failing with Internal Server Error"
Hi! I have been using this github action for months without issues. Unfortunately tonight I started seeing the following in my builds:
[code]
The internal server error makes me think it's on Azure's end. But I am able to deploy my function app successfully from Visual Studio Code. Also, the object output at the end would be helpful if I knew how to `JSON.stringify` it! 😄

Can you please advise?

[2020-07-14 08:39] aksm-ms commented on #46
Issue is fixed in PR.

[2020-07-14 19:04] GabrieleCastellani commented on #46
It is working again for me

[2020-07-14 22:55] terrajobst opened #48 "Someone just broke the 2.1"
My workflow did this successfully yesterday night:

[code]

which fails with this:

[code]

hacking the URL reveals that this works:

https://codeload.github.com/Azure/webapps-deploy/legacy.tar.gz/v2.1.0

Is that intentional?

[2020-07-15 02:39] Chai233 opened #49 "How can we deploy app to the root directory?"
I tried to deploy an app with Tomcat 8.5 on Windows. but after the deployment, I have to access the app via **<app_url>/<app_name>**

I used to use Azure DevOps to deploy app to Azure WebApp. In Azure DevOps, I can set `customDeployFolder` to `'ROOT'`, so that the app can be accessed without referring to the app name.

**Question: How can I deploy the app to the root via this action?**

[2020-07-15 03:53] aksm-ms commented on #48
Please use "azure/webapps-deploy@v2.1" in the workflow. In future, please use major version of the action which will include all minor and patch updates.

[2020-07-15 04:01] #46 closed

[2020-07-15 05:51] terrajobst commented on #48
Is that specific to webapps-deploy or is that generally a thing for GitHub actions?

[2020-07-15 06:26] aksm-ms commented on #48
In general based on [Github actions versioning guidelines](https://github.com/actions/toolkit/blob/master/docs/action-versioning.md#versioning), actions should follow this behavior, but individual actions releases may vary.

For webapps-action, major tag will have all minor and patch updates.

[2020-07-16 06:56] aksm-ms commented on #37
Can you please explain more here? I am unable to understand the exact problem.

[2020-07-16 06:57] aksm-ms commented on #37
v2 is production ready and released to marketplace.

[2020-07-16 06:58] aksm-ms commented on #37
Please share the workflow for debugging.

[2020-07-16 09:52] guillaumemeyer commented on #37
[code]

[2020-07-16 10:01] N-Usha commented on #45
Thanks for reaching out @frank-fischer-by. Yes, this needs to be addressed by the Azure platform team, perhaps the Az CLI product team. We'll surely convey the feedback to the concerned team.

[2020-07-16 12:14] frank-fischer-by commented on #45
Thanks for the feedback :). Looking forward to the outcome of this.

I _considered_ updating the action with support for JSON/YAML myself (I have barely any TypeScript experience; so no promise that I have the time to dig into how the deployment API works, how Typescript works and how GH actions fit into that).

Is this something that would be accepted or do you think it's more reasonable to wait

[2020-07-16 16:21] ehamai commented on #38
@vermaaditya the issue you're describing shouldn't have anything to do with this repo which is tracking issues for the GitHub action that's specific to deploying to a Web app.  To better understand runtime specific behaviors, please either ask your question on the [App Service forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazurewebsitespreview&filter=alltypes&sort=lastpost

[2020-07-16 16:22] ehamai commented on #3
@srijken - Web jobs are just regular file content, so there shouldn't be anything special required in order to deploy them.  Building them may be a different story of course, but for this repo which is specific to the deployment action, I don't see why it would be anything different.  Are you running into issues with it?

[2020-07-16 16:50] N-Usha commented on #45
Product team has confirmed that this issue is already getting tracked under azure-cli github repo - you can check the discussion & details on the GitHub issue. https://github.com/Azure/azure-cli/issues/13777.  Hoping that helps and Closing this issue for now. Thanks!

[2020-07-16 16:50] #45 closed

[2020-07-17 02:54] aksm-ms commented on #48
Closing this issue, please feel free to re-open if issue persists.

[2020-07-17 02:54] #48 closed

[2020-07-17 05:19] #38 closed

[2020-07-17 16:25] MrThePlague commented on #42
This also seems to be affecting Linux Web Apps.

[code]

[2020-07-19 09:53] wmmihaa commented on #42
@N-Usha do you have an update on this?

[2020-07-19 19:50] rtheil commented on #28
I'm going to add to this just to verify that I had the same issue. I created a node app and had Azure create the pipeline for me on github. It did this successfully. Then I created a .Net core API and tried to publish using the EXACT same method. It failed.

To fix:
Downloaded the publish profile from azure, edited the file, looked for publishUrl="waws-prod-bay-143.publish.azurewebsites.windows.ne

[2020-07-21 07:38] romil07 opened #51 "Webapp Deploy is acting weird"
Webapp deploy action is succeeding for me but the webapp is not properly deployed.
My workflow can be seen [here](https://github.com/romil07/goSampleApp/blob/master/.github/workflows/deploytoContainerWebApp.yml) and the workflow run can be seen [here](https://github.com/romil07/goSampleApp/runs/893047470?check_suite_focus=true)

All is well till here. But when I go to my webapp, I get error. In th

[2020-07-21 08:09] aksm-ms commented on #51
can you please paste the logs here?

[2020-07-21 09:07] romil07 commented on #51
My action run logs:
Updating App Service Configuration settings. Data: ***"linuxFxVersion":"DOCKER|rogoyalacrnew.azurecr.io/rogoyaltestwebapp-img:bf0a0a95bcf4a01c7ee3d5b7f2c7bda876880acb"***
##[debug][PATCH] https://management.azure.com/subscriptions/393a91ee-f98d-43ff-b964-009bda0fdf2e/resourceGroups/rogoyal/providers/Microsoft.Web/sites/rogoyal-test-webapp/config/web?api-version=2016-08-01
Updat

[2020-07-21 10:33] aksm-ms commented on #37
currently startup-command is not supported for windows web apps and if publish profile auth scheme is used.
Please use Azure login before webapps-deploy action to use startup command with linux container.
Refer [Sample workflow](https://github.com/azure/webapps-deploy/#sample-workflow-to-build-and-deploy-a-nodejs-app-to-containerized-webapp-using-azure-service-principal)

[2020-07-21 10:34] aksm-ms commented on #37
This check is used only for validating windows apps and publish profile auth scheme.

[2020-07-22 13:33] guillaumemeyer commented on #37
OK I'm gonna try this

[2020-07-22 23:39] bowdenk7 opened #52 "Container deployment to app service deployment slot not working"
I have an app service `frosted-web` with a deployment slot `staging`.

![image](https://user-images.githubusercontent.com/820883/88239509-38c06300-cc4a-11ea-8a04-c04dbaa956de.png)

I use the following `azure/webapps-deploy@v2` action to try to push a new image to the `staging` slot on the `frosted-web` app service.

[code]

However I get the following error:
![image](https://user-images.githubuser

[2020-07-24 02:21] aksm-ms commented on #37
@guillaumemeyer any update?

[2020-07-25 13:03] guillaumemeyer commented on #37
Quite busy these days, gonna try this next week

[2020-07-27 19:13] #52 closed

[2020-07-31 12:43] danechitoaie opened #54 "Deployed code messes up the symlinks and app can't start"
I'm deploying a nodeJS app with Github actions and it seems that once the code gets to the azure web app server the symlinks from within node_modules/.bin folder are all messed up and app doesn't start.

For example when I run my code locally, if I do a `node ./node_modules/.bin/next --help` it works, and `./node_modules/.bin/next` is actually a symlink to `../next/dist/bin/next`

But after code i

[2020-08-07 06:35] #37 closed

[2020-08-07 14:04] modev opened #56 "Application deployment to staging slot"
I'm sorry if this is not the right place to report this issue, feel free to direct me elsewhere.

I'm currently working on a test application to evaluate the capabilities of GH Actions and the Azure AppService. I've been using the default node.js example and built upon that. Deploying the the production slot of my App Service worked without any issues. However, my issue is the deployment to other

[2020-08-10 00:03] asilverstein commented on #20
What is the status of this issue? It's very important to start each deployment with a clean (empty) target directory. Currently this is a blocking issue for using webapps-deploy.

[2020-08-10 09:24] modev commented on #56
It seems like I found the issue myself.

When creating a new slot such as staging for an App Service, the slot is displayed as a separate App Service (e.g. Testapp/staging) inside the App Service Plan. The original App Service "Testapp" only contains the publishing profile for the production slot. To be able to publish from the GH Actions so the staging slot, you have to generate the publishing pr

[2020-08-11 18:33] jstevense-vbe commented on #3
Here is a working example for you brother. Just setup the publish profile as a secret and your done.
And of course change the variables.

`name: Deploy WebJob

on:
  workflow_dispatch:

  push:
    branches: [ develop ]

env:
  WEBJOB_NAME: YourWebJobName
  AZURE_APP_NAME: your-azure-app-service-name
  PROJECT_ROOT: path/to/your/Project.Root
  TEST_PROJECT_ROOT: path/to/your/Project.Root.Tests
  D

[2020-08-11 18:34] joeystdio commented on #3
Here is a working example for you my friend. Just setup the publish profile as a secret and your done.
(and of course change the variables)

`name: Deploy WebJob

on:
  workflow_dispatch:

  push:
    branches: [ develop ]

env:
  WEBJOB_NAME: YourWebJobName
  AZURE_APP_NAME: your-azure-app-service-name
  PROJECT_ROOT: path/to/your/Project.Root
  TEST_PROJECT_ROOT: path/to/your/Project.Root.Tests

[2020-08-14 19:56] elliotchaim commented on #56
I agree this should be documented. I personally was aware that deployment slots have their own publish profile. What is not clear is what the value of `app-name` should be when `slot-name` is specified. Continuing @modev 's example - should `app-name` be "testapp" or "testapp__staging"??

[2020-08-19 13:37] AmrutaKawade commented on #20
We use Kudu REST API for deployment. there is already [bug](https://github.com/projectkudu/kudu/issues/2822) on kudu team for this

[2020-08-19 13:42] AmrutaKawade commented on #32
We use kudu REST api for deployment. as per kudu api documentation is known issue .

[Issues and investigation](https://github.com/projectkudu/kudu/wiki/Deploying-from-a-zip-file-or-url#issues-and-investigation)
Zip deploy does not update node module files for NPM 5.6 and later
See https://github.com/projectkudu/kudu/issues/2917 and https://github.com/npm/npm/issues/20439. This affects the default

[2020-08-19 14:19] asilverstein commented on #20
Amruta, that bug was last responded to by the team in 2018.

[2020-08-19 15:20] AmrutaKawade commented on #20
for different enviornments you can use slots https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots

[2020-08-19 15:32] AmrutaKawade commented on #26
Can you share debug logs for both Github action and AzureDevOps Task?
to get debug logs
Github action - add ACTIONS_STEP_DEBUG =  true in secrets and run workflow
AzureDevOps - add system.debug = true in variables and run pipeline

[2020-08-24 10:37] AmrutaKawade commented on #20
We are following up with Kudu team for this issue. But currently we are unable to repro this. Can you share repro steps?

[2020-08-24 14:34] asilverstein commented on #20
The repro was stated by @kodyang at the top of this issue, and has not changed: "The deployment only creates new files and overwrites existing ones, but does not delete files not part of the deployment"

[2020-08-26 04:57] AmrutaKawade commented on #32
Please do try above workround. closing this issue. feel free to reopen if its not resolved

[2020-08-26 04:57] #32 closed

[2020-08-26 05:10] AmrutaKawade commented on #56
app-name will be 'testapp' and slot-name will be 'staging'. We will update our documentation for getting publish profile for slots

[2020-08-26 06:43] elliotchaim commented on #56
Sounds great, thanks!

[2020-08-27 10:53] toy0605 commented on #54
same issue here

[2020-08-27 11:24] AmrutaKawade commented on #26
closing this issue as no response from user. please feel free to reopen if issue still persist

[2020-08-27 11:24] #26 closed

[2020-08-28 10:49] #56 closed

[2020-09-10 11:56] aksm-ms commented on #51
@romil07 is this issue still occuring?

[2020-09-10 11:57] romil07 commented on #51
@aksm-ms No, this can be closed.

[2020-09-10 11:57] #51 closed

[2020-09-11 07:03] jacob-j opened #59 "Error: Cannot find module 'azure-actions-webclient/webClient"
Hello!
Not sure if this is a place to report this, as there seems to be no activity in the issues tab here.
But I'll try, and if no reply, try somewhere else.

We have been getting this error lately:
It is causing our builds to fire an error, but it's working anyways.

[code]

[2020-09-17 14:05] 0gust1 commented on #54
Had same issue too. I have a dependency that is a symbolic link to another folder of the repo (it's a monorepo).

Root cause may be linked to the App service execution model : https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox#symbolic-link-creation

I did a quick and dirty workaround in my github action, just before the `azure/webapps-deploy` step.

[code]

[2020-09-17 14:21] 0gust1 opened #60 "Deployment is *very* slow (nodeJS with publish profile)"
I'm using a workflow file adapted from "build and deploy a Node.js Web app to Azure using publish profile".

(side remark) : I had issues with symbolic links too (see https://github.com/Azure/webapps-deploy/issues/54#issuecomment-694259266)

Upon analysis, it seems that the whole copy of the `node_modules` folders to the webroot of the webapp takes ages (10-12 minutes for the Azure Webapp deploy s

[2020-09-20 20:14] kharann opened #62 "Permission denied during ZIP deploy"
I keep getting permission denied during the ZIP Deploy part. Im not sure whats the problem at all :(

[code]

[2020-09-22 22:33] ashokgelal opened #63 "Mapping volumes"
How does one go about mapping volumes? I want to map to a an Azure File Storage. Basically, what I'm looking is being able to do something like this (if it was a docker-compose.yml file):

[code]

Where `data` is the name of my Azure Storage mount name. Thank you!

[2020-09-23 04:26] aksm-ms commented on #62
@kharann Can you please provide the workflow? Also please provide detailed action logs.

[2020-09-24 09:49] rukasakurai opened #64 "Running subsequent jobs only after the deployment triggered by the webapps-deploy action completes"
I would like to automate the deployment of code to Azure Web App for Containers using GitHub Actions.

The approach that I am taking includes the following steps:
1. CI, etc.
2. Deploy to a staging slot in App Service using Azure/webapps-deploy@v2
3. Validate the deployment in the staging environment (e.g., GET to one of the APIs that is deployed)
4. Swap staging and production slots on the App Se

[2020-09-29 12:12] aksm-ms commented on #59
@jacob-j Are you still facing the issue?

[2020-09-30 14:31] svallier opened #66 "Backups are only functionnal using StorageV2"
It's allowed to set a backup scheduling using ARM template or powershell.
Otherwise, backups fail

it seems that backups are only functionnal using StorageV2. but it's not specified in requirements :
https://docs.microsoft.com/en-us/azure/app-service/manage-backup#requirements-and-restrictions

[2020-09-30 15:03] svallier commented on #66
.

[2020-09-30 16:42] svallier opened #67 "WebApp can't be backuped into Storage Accounts with Premium LRS Sku"
It's allowed to schedule an Azure WebApp using ARM Template or powershell specifying all existing Storage Account Sku's
But backups fails where the storage Account has Sku "Premium LRS".

When i get the request that filtering storage accounts from WebApp backup selection in portal, i can see that the filter "Premium LRS" is applied.

where type in~ ('microsoft.storage/storageaccounts','microsoft.c

[2020-10-05 23:21] timheuer opened #70 "set-env is deprecated and throwing warnings in workflows"
My workflow is now showing me warnings regarding the deprecation of `set-env` https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/. Need to upgrade to latest core toolkit

[2020-10-06 23:16] rtheil commented on #70
Same issue, using webapps-deploy@v2

[2020-10-08 10:51] AmrutaKawade commented on #70
PR is merged. you can use v2 tag

[2020-10-08 10:51] #70 closed

[2020-10-13 10:10] CodeWarrior-Hawaii opened #75 "There is not enough space on the disk.\r\n"
Deploying fairly small (3x components) angular app to Azure App Service.  Web App built and deployment attempted but resulted in `There is not enough space on the disk.\r\n`.

    Package deployment using ZIP Deploy initiated.
    Fetching changes.
    Cleaning up temp folders from previous zip deployments and extracting pushed zip file C:\local\Temp\zipdeploy\ad1141rx.zip (152.54 MB) to C:\local\

[2020-10-14 11:53] Joren-Thijs commented on #28
Can confirm had the same issue, still on 14/10/2020. Replacing the URL fixed it👍

[2020-10-15 17:09] kokuljose commented on #28
A solution is described [here](https://stackoverflow.com/questions/64376240/github-action-for-azure-python-webapp-failed-to-fetch-credentials-from-publish/64376536#64376536).

[2020-10-16 11:13] pblanchardie opened #76 "Error: Invalid entry header"
Using v2 or v1, I'm unable to deploy a Spring Boot app (JHipster)

[code]

[code]

[2020-10-16 12:29] #76 closed

[2020-10-16 12:30] pblanchardie commented on #76
Sorry, the JAR file was a Bash Spring Boot Startup Script.

[2020-10-16 15:22] Jriles commented on #28
Getting this bug with python 3.8 first deploy and successive deploys

[2020-10-16 15:35] Jriles commented on #28
Also the fix works but you have to put your app name in for the [app-name] bit. Maybe this is obvious but I wasn't sure.

[2020-10-17 22:20] olli1337 commented on #28
I can confirm that this URL issue still exists. Also be careful to check the app name to match the app service name that you created in Azure.

[2020-10-20 00:53] kharann commented on #62
Hi! I think I managed to lose the logs. I decided to move on and use azure container apps instead. I felt that azure zip-deploy took too much time to deploy (some weird reason with node_modules)

[2020-10-21 04:13] aksm-ms commented on #59
Closing the issue - not enough to debug. Please feel free to reopen in case of any queries.

[2020-10-21 04:13] #59 closed

[2020-10-24 22:38] erfannariman commented on #28
Why is this issue closed? This is still a problem, can this be re-opened?

[2020-10-24 23:31] pietelite commented on #28
It is solved, but the answer is kinda scattered around on this thread. [I made a StackOverflow post about it](https://stackoverflow.com/questions/64518967/azure-github-app-deployment-error-publish-profile-does-not-contain-kudu-url/64518968#64518968) to help people figure it out.

[2020-10-25 05:07] chuanqisun commented on #28
Please consider re-open the issue @chandan-g-bhagat . The workaround is good but many users will hit the same problem and waste their time. Please fix update either Azure portal or update the Github Actions to ensure the default publish profile work out-of-the-box.

[2020-10-26 03:33] shibayan opened #77 "Add support deployment to App Serivce kind of functionapp"
I get an error deploying Azure Functions if I am using RBAC. This does not occur if you are using an issue profile.

I know there is an `Azure/functions-action`, but it would be redundant to not be able to use the same Action when deploying in parallel using strategy.

[2020-10-27 16:46] JasonFreeberg commented on #64
@N-Usha -- We are introducing a new API that returns the status of a user's code deployment ("deployment received", "in-progress", "completed", "failed", etc.). Integrating the webapps-deploy action to ping this new API would fulfill this customer's request. The API is deploying now to testing regions, and I can share some notes next week.

CC @AmrutaKawade

[2020-10-28 21:27] rtheil commented on #28
My understanding of this issue is that it is not an issue of webapps-deploy, and thus not relevant here. It seems to be an Azure portal bug, which is incorrectly generating the script that calls webapps-deploy for certain app types, specifically .Net Core apps. I do not believe webapps-deploy has anything to do with generation of the script within Azure.

[2020-10-29 04:37] aksm-ms commented on #77
@N-Usha please take a look at this

[2020-10-29 04:39] aksm-ms commented on #75
@CodeWarrior-Hawaii Can you please share your workflow and detailed output logs?

[2020-10-29 04:40] aksm-ms commented on #67
@svallier are you facing any issue with webapps-deploy github action? This repo tracks issues regarding the azure/webapps-deploy action.

[2020-10-29 04:42] aksm-ms commented on #62
Closing the issue since it is not happening anymore and not enough logs to debug.

[2020-10-29 04:42] #62 closed

[2020-10-29 04:46] aksm-ms commented on #54
@danechitoaie is the action passing successfully? Can you please send the workflow and detailed logs?

[2020-10-29 09:34] N-Usha commented on #77
@shibayan  - Could you plz elaborate your scenario further? I couldnt quite understand what you meant by below: Can you plz explain?

[2020-10-29 09:51] shibayan commented on #77
@N-Usha I understand. I'll show you the actual Workflow definition.

Deploying to App Service / Azure Functions is often time consuming, so I use artifacts to deploy in parallel if the project contains many applications.

- webapp-test
  - App Service, ASP.NET Core application
- function-test
  - Azure Functions app

Currently, I simply define multiple jobs to deploy in parallel, but they are redu

[2020-10-29 10:00] danechitoaie commented on #54
@aksm-ms Yes, the action was passing successfully. I've since then moved to Heroku so I can't reproduce or test this anymore but basically the build on GitHub actions side was fine and successful. Problem is that then the GH action was doing a ZIP of the files (node_modules included) and then transferring the zip to Azure and then unzipping them there. This operation messes with the "sym links - h

[2020-10-29 10:06] aksm-ms commented on #54
@danechitoaie i understand the issue is with symlinks, i am trying to figure out if the action code is failing or failure is on app service platform side.
From your description of problem, it was unclear if the action passed/failed without proper logs.
Since action passes, looks like issue is at the backend APIs which we use, will look it and update.

[2020-10-29 10:12] aksm-ms commented on #54
zip deploy is handled by backend ZIP deploy Kudu API. There is already an issue on Kudu repo tracking this - [https://github.com/projectkudu/kudu/issues/2946](https://github.com/projectkudu/kudu/issues/2946) .
Please follow up with symlinks related issues on Kudu repo since action is using the same for ZIP deploy.

[2020-10-29 10:12] #54 closed

[2020-10-29 11:46] aksm-ms commented on #42
@wmmihaa this looks like an issue with the Kudu APIs we use in action code, not the action code itself. Will check and update.

[2020-10-29 17:01] nareshbulusu opened #78 "Error: EAI_AGAIN Error: Deployment Failed with Error: Error: Failed to get app runtime OS"
Getting the below error. Any help is appreciated, Thanks!

![image](https://user-images.githubusercontent.com/13373929/97606682-12267b00-1a36-11eb-9e60-aaeabc8cea9e.png)

The configuration I am using is below.

    - uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        slot-name: 'production'
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROF

[2020-10-29 17:05] raahmed opened #79 "Deployment Log Link Obfuscated"
In the webapps-deploy@v2 log output, the link to the deployment logs is obfuscated since GHA thinks it’s a secret. Can you help us address this? Is there some way we can hint to GHA that the hyperlink is not a secret?

![image](https://user-images.githubusercontent.com/25991359/97607479-42d2ca00-19ce-11eb-870f-07ee1e11f65a.png)

![image](https://user-images.githubusercontent.com/25991359/97607490-

[2020-10-29 18:12] nareshbulusu commented on #78
Turns out, this was because of the preceding "https://" I have incorrectly added to the publishurl of Web Deploy profile. I have removed "https://" it so it is just "exampleapp.scm.azurewebsites.net:443" and issue got resolved.

[2020-10-29 18:12] #78 closed

[2020-10-30 02:05] Jriles commented on #28
Its not just .Net core, like I stated above. And if it isn't an issue with webapps-deploy, even if this occurs during app deployment, shouldn't there be a new issue opened and a link to it here maybe?

[2020-10-30 09:03] erfannariman commented on #28
For those who it might interest, I've opened an issue on [docs.microsoft.com](https://docs.microsoft.com/en-us/answers/questions/137869/publish-profile-publishurl-needs-to-be-adjusted-af.html) as well.

[2020-11-02 00:48] erfannariman commented on #28
Here is a temporary solution:
1. Go to your function app and to configuration:
![image](https://user-images.githubusercontent.com/34067903/97820167-232cf180-1cad-11eb-87f1-f2bb74d5f2fa.png)

2. Press "New applications setting":
![image](https://user-images.githubusercontent.com/34067903/97820199-54a5bd00-1cad-11eb-99cf-a5da2bb2d510.png)

3. Then add the following:
![image](https://user-images.gith

[2020-11-02 07:36] aksm-ms commented on #67
@svallier are you still facing the issue?

[2020-11-03 02:11] N-Usha commented on #77
Thanks for the explanation @shibayan. I understand your requirement now. We don't intend to overload the Webapps-deploy action for function-app deployments in the near future. However if we see more customer impact and asks around this requirement in the future, we may reconsider this in the future. Thanks!

[2020-11-03 02:11] #77 closed

[2020-11-05 12:32] sfabriece commented on #60
My deployments are taking 10 minutes and it is slowing us down. How can we improve the situation?

[2020-11-06 07:57] aksm-ms commented on #79
@raahmed I have tried to reproduce this issue and was able to reproduce it. Please find the steps i used for reproducing below:

1. Forked the repo [https://github.com/microsoft/azscorecards](https://github.com/microsoft/azscorecards) into [https://github.com/aksm-ms/azscorecards](https://github.com/aksm-ms/azscorecards).
2. Created workflow [https://github.com/aksm-ms/azscorecards/actions/runs/34

[2020-11-06 09:40] jjindrich opened #81 "Missing PHP runtime"
There is missing PHP runtime for WebApp deployment

[2020-11-06 17:49] aksm-ms commented on #81
@jjindrich Can you please provide more description of the issue?
Also are you facing any issue with webapps/deploy@v2 action? If so, please share workflow used along with detailed logs.

[2020-11-06 19:00] jjindrich commented on #81
Action webapps/deploy@v2 not allows deployment to Azure Web App with PHP runtime. Check this https://docs.microsoft.com/en-us/azure/app-service/quickstart-php?pivots=platform-linux

[2020-11-06 23:06] raahmed commented on #79
@aksm-ms : It seems that the problem here is that a non-secret is being treated as one - ie the log link actually doesn't contain secrets but it is being obfuscated. From your message, it seemed that you think that the log link part that is obfuscated contains an appservice-settings-json but to me, it seems like a random string. Can you clarify which one it is?

[2020-11-09 06:16] aksm-ms commented on #81
@jjindrich I am able to deploy to PHP app using azure/webapps-deploy@v2. I have updated documentation with a sample workflow for PHP. @N-Usha Please review the documentation PR.

[2020-11-09 06:16] aksm-ms commented on #81
@jjindrich Please let me know if you are facing any other issues.

[2020-11-09 12:42] jjindrich commented on #81
Hi, thanks for update @aksm-ms. I tried to use. I updated yml and created new secret AZURE_WEBAPP_PUBLISH_PROFILE. I copied content of Get publish profile from Web App blade (following https://github.com/Azure/actions-workflow-samples/blob/master/assets/create-secrets-for-GitHub-workflows.md#set-secret-with-web-app-publish_profile).

But getting this errors:
Error: Failed to fetch credentials from

[2020-11-09 14:29] aksm-ms commented on #81
@jjjndrich While using publish profile credentials for app services created on linux, please follow the following steps:
1. configure an application setting "WEBSITE_WEBDEPLOY_USE_SCM" and set it to true.
2. After setting the value, download publish profile from portal.
3. Use the same in your workflow.

Please refer this [https://github.com/azure/webapps-deploy#configure-deployment-credentials](h

[2020-11-09 18:34] jjindrich commented on #81
I can confirm, it works. Thanks for help.

[2020-11-09 18:34] #81 closed

[2020-11-10 06:43] aksm-ms commented on #79
@raahmed it is not a random string, i have several experiments before confirming the behaviour. Please refer the sample workflow i have linked in previous comment. In that, i am setting "ABCD" to my app name and clearly app name is masked in my webapps-deploy logs.
Also please refer [https://github.community/t/build-log-redaction-is-too-aggressive/16588](https://github.community/t/build-log-redact

[2020-11-10 13:15] dtmzr commented on #28
@erfannariman can confirm that this works and in my opinion, is the best / most consistent workaround. Thanks a lot for putting effort into this 🙏

[2020-11-10 18:40] raahmed commented on #79
Thanks for helping me understand this!

What I understood was that you are trying to investigate if values provided as inputs (such as the app name) to appservice-settings action is treated as a secret because if they are, then the redaction is being done by the appservice-settings action by design. I'm looking forward to seeing the results of your investigation!

[2020-11-11 10:09] dtmzr commented on #78
@nareshbulusu currently facing the same error message but my deployment profile seems correct.

Thats what my workflow outputs as configuration:
[code]

Where only `app-name`, `publish-profile` and `images` are set by me.

Did you adjust anything else? I assume something with the authentication or authorization is going wrong but the error message leads me nowhere.

I also had adjusted my `WEBSITE

[2020-11-11 23:22] brookpatten opened #83 "Inconsistent "Error: Deployment Failed with Error: Error: Action does not support app service with kind linux,container.""
I have a workflow that I use to deploy to 2 different app services for containers.

To the best of my ability, they are identical other than the environment variables passed to the container and the subscriptions they are in.  I can configure both in azure portal and start the docker container manually in both, no problem.

Both are deployed to azure "app service environments" for my client.  They

[2020-11-16 03:56] aksm-ms commented on #79
@raahmed In appservice/settings, application settings are treated as secret. I will give code fix it.
Moving this issue to azure/appservice-settings since fix is needed on appservice-settings.
cc: @N-Usha

[2020-11-17 02:13] samsmithnz opened #85 "The `set-env` command is disabled."
As of the update this afternoon to restrict usage of set-env, this task now fails. https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/

Full error:
[code]

[2020-11-17 06:27] anishnickcoder commented on #85
Facing same issue. Any resolution?

[2020-11-17 08:31] vohrahul commented on #85
Any update on this?

[2020-11-17 09:15] aksm-ms commented on #85
v1 tag is updated now. Please verify.

[2020-11-17 10:04] aksm-ms commented on #83
@brookpatten Can you please run the workflow once and share the debug logs? Please create a secret ACTIONS_STEP_DEBUG and set it to true to get debug logs

[2020-11-17 12:36] samsmithnz commented on #85
@aksm-ms Fixed! Thank you for fixing so quickly!

[2020-11-17 12:36] #85 closed

[2020-11-17 14:44] brookpatten commented on #83
Here is the log for the step failing.  I have omitted some strings to avoid posting anything confidential and have added "<omitted>"

[code]

[2020-11-18 04:56] aksm-ms commented on #67
Closing the issue. Please feel free to reopen for any further queries.

[2020-11-18 04:56] #67 closed

[2020-11-18 07:47] aksm-ms commented on #83
@brookpatten thanks for sharing logs. I have tried to reproduce the issue. While deploying to a linux webapp-container using the action, I did not get any errors.
Can you please try to run your workflow using 'azure/webapps-deploy@users/aksm-ms/linux-container-app-kind' instead of 'azure/webapps-deploy@v2' and share logs?

[2020-11-19 06:16] aksm-ms commented on #83
@brookpatten Can you please share the logs for debugging further?

[2020-11-19 15:31] brookpatten commented on #83
Here is a log, thank you.

`##[debug]Evaluating condition for step: 'Deploy Api v5.0.341 to prod'
##[debug]Evaluating: success()
##[debug]Evaluating success:
##[debug]=> true
##[debug]Result: true
##[debug]Starting: Deploy Api v5.0.341 to prod
##[debug]Loading inputs
##[debug]Evaluating: format('webapp-pass-depot-***0***', github.event.inputs.environment)
##[debug]Evaluating format:
##[debug]..Eva

[2020-11-20 05:04] aksm-ms commented on #83
@brookpatten Thanks for sharing logs. Can you please confirm the resource you are using in the following workflow is a Appservice container?
`- name: Deploy
      uses: Azure/webapps-deploy@v2
      with:
        **app-name: web-app-foo-${{ github.event.inputs.environment }}**
        images: ghcr.io/client-name/image-name:tag`
Please refer [Azure Web Apps for Containers ](https://azure.microsoft.

[2020-11-20 05:09] brookpatten commented on #83
Yes, it absolutely is.  In fact It is already running the image since I configured it manually using azure portal.

The one thing that may make it atypical is that it is in an App Service Environment, not the normal azure cloud, but it is definitely an azure app service.  As I said we have two such environments, for one it works no problem, for the other it does not.

[2020-11-20 05:10] aksm-ms commented on #83
Can you please elaborate app service environment?

[2020-11-20 13:21] brookpatten commented on #83
It's an offering from MS which offers network isolation, among other things, I am not an expert, but here is an article about it https://azure.github.io/AppService/2020/09/22/asev3-public-preview-preannouncement.html

[2020-11-25 00:17] jaspecla opened #88 "##***error***Deployment Failed with Error: Error: Action does not support app service with kind app,migration."
I created a new App Service using the Azure App Service Migration assistant.  The migration assistant creates app services with the "kind" attribute set to "app,migration" as opposed to "app."

This causes the action to fail with the error in the title:

##***error***Deployment Failed with Error: Error: Action does not support app service with kind app,migration.

This may be related to issue #83

[2020-11-26 03:56] aksm-ms commented on #88
@N-Usha Currently we do not support app kind "app,migration" in our action code. Can we add this as a future enhancement?

[2020-11-26 03:57] aksm-ms commented on #83
@N-Usha Currently we do not support app kind "linux,container" in action code. Can we add this as a future enhancement?

[2020-11-26 04:36] aksm-ms commented on #88
As discussed with @N-Usha, marking this as an enhancement.

[2020-11-26 04:36] aksm-ms commented on #83
As discussed with @N-Usha, marking this as enhancement.

[2020-11-29 11:05] svallier commented on #67
i do not use github actions. I deploy the template through azure DevOps (but t should be the same issue in Github Actions. 'cause it's not caused by the DevOps platform).

You are not able to backup WebApp into Premium LRS Storage Account

the problem is  **there is nothing avoiding de scheduling of this backup using the ARM template or the cmdlet "Edit-AzWebAppBackupConfiguration**". The scheduli

[2020-11-29 11:12] svallier commented on #66
See #67

[2020-11-30 09:55] aksm-ms commented on #66
@N-Usha Can you please take a look at this and let me know if we can add this as an enhancement?

[2020-11-30 10:02] N-Usha commented on #66
This looks to be a product limitation that an issue with the action. @JasonFreeberg / @ehamai - Is this something you could help respond?

[2020-11-30 11:18] aksm-ms commented on #75
Closing due to not enough info to debug. Please feel free to reopen the issue if needed.

[2020-11-30 11:18] #75 closed

[2020-11-30 11:22] aksm-ms commented on #64
Marking this as enhancement. cc: @N-Usha

[2020-11-30 11:25] aksm-ms commented on #63
@ashokgelal Currently action does not support this. If needed, please create a new issue with detailed description for the feature you are requesting.

[2020-11-30 11:25] #63 closed

[2020-11-30 11:27] aksm-ms commented on #42
@wmmihaa are you still facing this issue?

[2020-11-30 13:23] wmmihaa commented on #42
I have not tried again. Has anything changed?

[2020-11-30 17:54] JasonFreeberg commented on #66
Hi @N-Usha, I copied @svallier's issue to the Docs repo: https://github.com/MicrosoftDocs/azure-docs/issues/66898

I'll send an email now to Cephas and Gaurav. They should be able to address this. I think we can close this issue and use the new Docs issue to track it now.

[2020-12-01 04:41] #66 closed

[2020-12-02 08:53] aksm-ms commented on #42
@sanchitmehta Can you please take a look at this issue? cc: @N-Usha @nadesu

[2020-12-03 11:30] aksm-ms commented on #42
@sanchitmehta Any update?

[2020-12-03 11:41] aksm-ms commented on #20
Since this issue is on Kudu API which action uses please raise issue under [https://github.com/projectkudu/kudu/issues/](https://github.com/projectkudu/kudu/issues/ ). Closing the issue.

[2020-12-03 11:41] #20 closed

[2020-12-03 17:21] harvey-k opened #89 "Error when deploying to Linux App Service"
Reproduction steps:

1) Create a Linux App Service:
https://github.com/Azure/azure-quickstart-templates/tree/master/101-app-service-docs-linux

2) Attempt to deploy via azure/webapps-deploy@v2:
`
Error: Deployment Failed with Error: Error: Action does not support app service with kind linux.
`

The Linux App Service above is defined with a kind value of 'linux', per:
https://github.com/Azure/azure

[2020-12-07 09:29] N-Usha commented on #42
@ehamai - Can you please confirm if your team could help on this? or could you please help loop in the right product owners for the APIs under question? Thanks!

[2020-12-09 17:42] ehamai commented on #42
@sanchitmehta is this something you can help with please?\

[2020-12-12 23:19] Duchynko commented on #78
My deployments started failing today out of nowhere. I'm getting the same error.
`Error: Deployment Failed with Error: Error: Failed to get app runtime OS`

[2020-12-12 23:27] Duchynko opened #95 "Error Failed to get app runtime OS"
My deployments started failing today with the following error.
`Error: Deployment Failed with Error: Error: Failed to get app runtime OS`

I'm running my WebApp in Linux containers and until today everything worked fine. I tried to update my publish profile but that didn't help. Actions workflow was autogenerated by Azure console when setting up deployments. But as I said, that exact config was wo

[2020-12-19 00:05] timheuer opened #96 "webapp-url output is a non-SSL URL provided"
For some reason the `applicationURL` value in this action is getting a non-SSL based URI which then gets passed along to other areas like the output of `webapp-url` which can be used in later actions.

https://github.com/Azure/webapps-deploy/blob/c6cf55c3ba862aca5fe5a39958d0191a5f396bd1/src/DeploymentProvider/Providers/BaseWebAppDeploymentProvider.ts#L57

This should be changed to have the SSL-bas

[2020-12-21 07:06] arjgupta commented on #96
@timheuer to get publish profile to use https, you will need to go to the TLS/SSL settings of your app and set it to be 'HTTPS only'. After making this change, the publish profile will use https instead of http. you can download the publish profile and verify it.

[2020-12-21 07:06] #96 closed

[2020-12-21 07:41] #95 closed

[2020-12-26 06:02] ikuosaito1989 opened #98 "Deploying to Azure App Service fails with "Deployment Failed with Error: Error: Failed to deploy web package to App Service.Conflict (CODE: 409)""
I have the same problem with GitHub Actions as with the issue.

https://github.com/Azure/webapps-deploy/issues/7

It may succeed if executed repeatedly.
I am using a B1 instance of App Service on Linux, and I am attaching the yaml of GitHub Actions and the error log.

Please let me know the solution🙏
<img width="733" alt="スクリーンショット 2020-12-26 14 52 13" src="https://user-images.githubusercontent.co

[2020-12-28 11:23] AmrutaKawade commented on #89
@sanchitmehta / @suwatch can you tell if this is something that has changed from the app service end. Earlier the app type used to be 'app,linux'. Has it changed to only 'linux' now, or are both supported or this is documentation bug in app service creation through ARM template?
https://docs.microsoft.com/en-us/azure/app-service/quickstart-arm-template?pivots=platform-linux

[2020-12-29 09:19] AmrutaKawade commented on #98
We use kudu APIs internally for deployment. there seems to be open issue on Kudu for similar thing.
Can you try scaling up your app service plan as mentioned here https://github.com/projectkudu/kudu/issues/3042#issuecomment-665659432.

[2020-12-30 08:33] Salazander opened #99 "Web App for Containers not actively pulling image after running azure/webapps-deploy@v2"
After triggering azure/webapps-deploy@v2, my instance of Web App for Containers does not actively pull the newest docker image hosted in GitHub Packages (docker.pkg.github.com).

Workaround: Make a GET-request to the web app's URL - this seems to trigger the pending image retrieval.

[2020-12-30 10:00] AmrutaKawade commented on #99
@Salazander  can you share your workflow yaml?

[2020-12-30 13:36] Salazander commented on #99
@AmrutaKawade
Here is a redacted version of my workflow (none of the paths make sense obviously):

[code]

[2020-12-31 04:06] Bulletninja commented on #1
I'm the same situation as @sajeetharan right now.

[2021-01-01 10:37] rohit-patel-ce21 commented on #42
@aksm-ms I am also getting the almost same error. Please help me with that.
https://stackoverflow.com/questions/65528704/github-azure-webapps-deployv2-package-deployment-using-zip-deploy-failed

[2021-01-01 19:59] zhenming91 commented on #1
Same.. following the tutorial here https://docs.microsoft.com/en-us/azure/container-instances/container-instances-github-action

[2021-01-03 22:41] snaoc commented on #33
Any news on this? Am in need for it (and I figure most SPA <-> API devs not liking pre-flights are...) as actions can automate every workflow very nicely, ecxept for this one. Thanks!

[2021-01-04 01:18] ikuosaito1989 commented on #98
@AmrutaKawade
Thanks for the reply!
I'll post the service plan on Kudu's issue 💪.

[2021-01-04 03:42] ikuosaito1989 commented on #98
@AmrutaKawade
Thanks for the answer!

I'll ask my question over at kudu!

[2021-01-04 13:54] wamei commented on #95
I have the same problem.

[2021-01-05 00:50] ashmind opened #100 "Error "Failed to change file that is currently being used" when deploying to a .NET 5 site with WebSockets"
I am deploying a zip file to a .NET 5 website, using this configuration:
[code]

I only added this deployment just now, and I am running into an error:

<details>
<summary>Full log</summary>

[code]

</details>

I thought this might be due to the site not correctly handling `app_offline.htm` (maybe due to a WebSocket connection). But on the other hand when using SCM I can somehow do anything with

[2021-01-05 03:32] ashmind commented on #100
Interestingly, that even fails if I run `az webapp stop` right before it, probably because stop is not fully processed yet?
Seems like wait/retry would be the best solution here.

[2021-01-05 07:33] #98 closed

[2021-01-05 07:49] AmrutaKawade commented on #99
Enable debugging for your workflow -

Set `ACTIONS_STEP_DEBUG` = true in secrets

check if there are any warnings/failures in restart of web app.

[2021-01-05 08:02] AmrutaKawade commented on #42
There is similar issue on kudu team and they are working on the fix https://github.com/projectkudu/kudu/issues/3169

[2021-01-05 08:22] AmrutaKawade commented on #100
Can you try with run from package deploy option? https://docs.microsoft.com/en-us/azure/app-service/deploy-run-package#enable-running-from-package

I have found similar older issue https://github.com/projectkudu/kudu/issues/2849

[2021-01-07 05:24] AmrutaKawade commented on #42
Closing this issue as its already fixed. Let us know if you are still facing issue, we will reopen this issue.

[2021-01-07 05:24] #42 closed

[2021-01-07 05:29] AmrutaKawade commented on #89
As confirmed with app service team `app,linux` is the right value.  you can change kind in your ARM template. Also appservice team is investigating since its working with `linux` kind as well. We will close this issue and linked PR.

[2021-01-07 05:29] #89 closed

[2021-01-12 07:13] abhinaba-chakraborty-by opened #101 "Authentication problem with ACR when trying to deploy"
My use-case is: I am building and storing Docker images in ACR. I need to deploy that in my AppService. I am using GithubActions for the CD. Below is part of my workflow:

[code]

Getting the following error in the deploy step:
[code]

Below are the logs I am seeing in my AppService:
[code]

I think the problem is it is not recognizing the registry as ACR and trying to pull from Docker Hub.
Am I m

[2021-01-13 06:57] andymccurdy opened #102 "Errors when passing the "configuration-file" setting"
I'm trying to deploy a multi-container app from a Github Action. Whenever I pass the "configuration-file" setting to the action, I get the error message: "Deployment Failed with Error: Error: Multi container support is not available for windows containerized web app.".

Here is the YAML I'm using:

[code]

This is a Linux app. I can use the same docker-compose file via the azure-cli or the Portal

[2021-01-13 08:32] aksm-ms commented on #102
@andymccurdy Currently, publish profile authentication method is not supported for multi-container scenario. It is mentioned in our documentation as well [https://github.com/Azure/webapps-deploy#end-to-end-sample-workflows](https://github.com/Azure/webapps-deploy#end-to-end-sample-workflows).

<img width="999" alt="Screenshot 2021-01-13 at 1 55 02 PM" src="https://user-images.githubusercontent.com

[2021-01-13 09:00] aksm-ms commented on #102
@andymccurdy let me know if you are facing any other issues.

[2021-01-13 18:23] andymccurdy commented on #102
@aksm-ms Thanks for the quick reply! Sorry that I missed the line in the docs. I'll look into using a Service Principal instead of the publish profile.

[2021-01-13 18:23] #102 closed

[2021-01-15 06:56] aksm-ms commented on #101
@abhinaba-chakraborty-by Since you have not logged into your ACR, you are facing this error. Please find the documentation which states a docker login is needed for ACR [https://github.com/azure/webapps-deploy#dependencies-on-other-github-actions](https://github.com/azure/webapps-deploy#dependencies-on-other-github-actions)

<img width="875" alt="Screenshot 2021-01-15 at 12 25 06 PM" src="https://

[2021-01-15 06:57] aksm-ms commented on #101
@abhinaba-chakraborty-by Please let me know if you are still facing issues.

[2021-01-18 05:15] #101 closed

[2021-01-18 07:17] aksm-ms commented on #99
@Salazander Can you please send debug logs?

[2021-01-19 09:33] Kapkan-Lesion opened #105 "Site Credential changed after web app backup restore?"
Hi,

(posted this in the Kudu repo's issue list, but thought maybe web app deploy is also a fitting criteria, hence pasting it over)

A rather simple yet strange question.

We know that there's a single set of Site/App Credential which can be used for deployment purposes. userPWD inside the web app's given publish profile can be leveraged to execute deployment operations at commandline.

We use Ms

[2021-01-20 08:28] aksm-ms commented on #105
@Kapkan-Lesion Kudu project is the right place for raising this issue. This repo has Azure webapps-deploy Github action code which does not update publish profile.

[2021-01-20 08:28] aksm-ms commented on #105
aksm-ms

[2021-01-20 08:29] #105 closed

[2021-01-20 09:03] aksm-ms commented on #99
Closing the issue since debug logs are not available. Feel free to open the issue in case of any queries.

[2021-01-28 17:38] waeltken opened #106 "Action does not support app service with kind api"
[code]

[2021-01-29 01:16] JasonFreeberg commented on #99
Hi @Salazander -- Were you able to pull the image locally? It looks like GitHub changed the hostname of the GitHub Container registry to `ghcr.io/username/repo:tag` (doc below). GitHub used to have an old version of the container registry on `pkg` hostname but I don't think that's supported any more.

https://docs.github.com/en/packages/guides/pushing-and-pulling-docker-images

[2021-01-29 14:36] vonbv commented on #42
@AmrutaKawade was this fixed? I'm getting the same error:

[code]

[2021-02-02 07:11] Salazander commented on #99
@JasonFreeberg Pulling locally works as you can see in the attached screenshot (there is a warning though...). We are aware of the ongoing transition to GitHub Container Registry, but my understanding is that it is still in [beta](https://docs.github.com/en/packages/guides/migrating-to-github-container-registry-for-docker-images)
![image](https://user-images.githubusercontent.com/29793164/10656430

[2021-02-02 07:34] Salazander commented on #99
For posterity: We've transitioned to Azure Container Registry and it looks like the latest image is automatically pulled.

[2021-02-02 09:27] Salazander commented on #99
@AmrutaKawade @aksm-ms
I've attached the requested log:
[1_deploy-to-azure-app-service.txt](https://github.com/Azure/webapps-deploy/files/5909978/1_deploy-to-azure-app-service.txt)

And below is the log output from Azure App Service - Container Settings. Note that the image was pulled only after I manually opened the WebApp's-URL in my browser, **observe the timestamps**. That's why I added an add

[2021-02-09 06:22] 20shivangi commented on #106
@sanchitmehta Is the kind api parameter need to be supported with PR : https://github.com/Azure/webapps-deploy/pull/107/files
What are your thoughts on this ?

[2021-02-09 15:52] vonbv opened #108 "Package deployment using ZIP Deploy failed"
I left a comment in [this thread](https://github.com/Azure/webapps-deploy/issues/42) stating that the issue on deployment still happens to us. I am creating this new issue as that one is not getting any attention. Here's what we got:
[code]

[2021-02-10 09:51] harshiniks opened #109 "App service gives "service unavailable 503" after successful deployment"
We were using webapps-deploy to deploy our .net core 3.0 app to app service on azure and everything worked fine.
Once we bumped up the .net version, the workflow still passes and deployment is successful but the appservice is not starting.

Same code when deployed through AzDevOps works fine.
**Workflow file:**
[deploy.yml.zip](https://github.com/Azure/webapps-deploy/files/5957203/deploy.yml.zip)

[2021-02-10 09:52] 20shivangi commented on #106
@sanchitmehta Please have a look at this issue

[2021-02-10 10:11] 20shivangi commented on #100
@ashmind Have you tried with the above option ?

[2021-02-10 11:27] 20shivangi commented on #99
@Salazander Are you able to pull the latest image from both github container registry?

[2021-02-11 08:12] 20shivangi commented on #109
@harshiniks Please find the [doc](https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-http-502-http-503) for troubleshooting. It will surely help you

[2021-02-11 08:22] 20shivangi commented on #108
@sanchitmehta Can you please take a look at this issue? cc: @N-Usha @ninallam

[2021-02-15 05:01] 20shivangi commented on #109
@harshiniks Any update here ?

[2021-02-15 05:02] 20shivangi commented on #108
@sanchitmehta Please have a look at this issue

[2021-02-15 05:03] 20shivangi commented on #100
@ashmind Any update here ?

[2021-02-15 05:03] 20shivangi commented on #99
@Salazander Can you please answer the above question , if you are able to pull the latest image ?

[2021-02-15 05:08] harshiniks commented on #109
We had tried all of it and none worked..

[2021-02-15 05:20] 20shivangi commented on #109
Is this happening every time ?

[2021-02-15 05:31] harshiniks commented on #109
yes

[2021-02-16 07:18] 20shivangi commented on #109
Will check and get back on this

[2021-02-19 05:40] 20shivangi commented on #99
There has been no response for so long so we are closing this issue. Please feel free to reach out to us in case of any queries. Thanks

[2021-02-19 05:40] #99 closed

[2021-02-19 05:44] 20shivangi commented on #100
Since there has been no response, we are closing the issue. Please feel free to reopen in case of any queries. Thanks.

[2021-02-19 05:44] #100 closed

[2021-02-19 23:58] MrThePlague commented on #99
Hi @20shivangi -- it looks as though I'm experiencing this same issue, with Azure WebApp for Containers, using ACR as the container registry. Is there a secure way for me to share the GitHub deploy logs, and the workflow file?

[2021-02-22 04:30] rachael-ross commented on #60
Our deployments are taking over 30 mins!

[2021-02-24 16:40] JasonFreeberg opened #110 "Duplicate deployment entries in the Portal"
When deploying with this action an extra deployment object is created in the `/deployments` list. This clutters the deployments list, and the deployment logs are stored in this extra object, not in the deployment object from GitHub Actions, so it's hard for users to find the right logs. The expected behavior is to have one deployment object with a commit ID that matches the one in GitHub, and that

[2021-02-25 12:02] AmrutaKawade commented on #110
We use kudu [zip deploy](https://github.com/projectkudu/kudu/wiki/REST-API#zip-deployment) api for deploying app, which creates first entry in deployments with message `Created via a push deployment`

after this deployment we again update status of deployment here with additional details
https://github.com/Azure/webapps-deploy/blob/b062dd053e72d63cf28324ec55ce8f77ec086947/src/main.ts#L54

which is

[2021-02-25 19:09] JasonFreeberg commented on #110
Wow, quick turnaround @AmrutaKawade! Just want to confirm, will the deployment object be tagged with the git commit ID?

CC @nertim @spellegrino021

[2021-02-25 19:21] honey-ramgarhia opened #112 "Deployment Failed with Error: Error: Resource "app-service-name" doesn't exist."
Hi, I am using this action to deploy my .NET 5 application on App Service. I have two jobs in my CD workflow. First is setup-infra which uses Terraform to create resources on Azure and second is build-and-deploy which deploys my code to the newly provisioned resource. But I'm getting **Deployment Failed with Error: Error: Resource "app-service-name" doesn't exist.** error. The AppService was creat

[2021-02-26 09:01] AmrutaKawade commented on #112
does this cred `SERVICE_PRINCIPAL_CREDS` have access to your app?

[2021-02-26 09:11] AmrutaKawade commented on #110
First entry of log will be as is, instead of `Created via a push deployment` message will be json object with sha of commit ID
and second entry will removed

[2021-02-26 09:26] honey-ramgarhia commented on #112
@AmrutaKawade Yes it does have access. It's a Service Principal object with Contributor role and access level at the Azure subscription.
I was actually able to deploy once using the pipeline by providing App Service name (in lowercase) statically. Something like this:

`app-name: 'my-app-service-name'`

 and I thought this could be the issue. My App Service name had some capital letters in it. The

[2021-02-26 10:06] AmrutaKawade commented on #108
@vonbv Can you share yaml file of your workflow?

[2021-02-26 10:35] AmrutaKawade commented on #112
Can you set `ACTIONS_STEP_DEBUG=true` in secrets and run pipeline and share debug logs? you can hide sensitive info from logs

[2021-02-26 10:55] honey-ramgarhia commented on #112
Here is debug output

[code]

Here is the screenshot for my App Service that got created.
![Screenshot 2021-02-26 162422](https://user-images.githubusercontent.com/25500071/109291633-34e36780-784f-11eb-989c-8eed47b561ed.png)

[2021-02-26 10:59] honey-ramgarhia commented on #112
Ooh I see somehow "" are also attached to the App Service name.

[2021-02-26 13:41] #112 closed

[2021-02-26 17:41] spellegrino021 commented on #110
Hi Amruta, would it be possible for this message to be the corresponding commit message in GitHub? It might make a little more sense to people to have that information rather than the JSON object. Thanks!

[2021-03-01 10:00] Salazander commented on #99
@20shivangi Sorry for the delayed response, I am able to pull the image locally as I already demonstrated above: https://github.com/Azure/webapps-deploy/issues/99#issuecomment-771420540

[2021-03-02 19:45] larryclaman opened #113 "Ability to swap slots?"
Doesn't seem like it's possible with this action to use the best-practice deployment process of deploying an app to a staging slot, and then swapping with production to eliminate any downtime.  See https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots

If this is possible, could you document?
If it's not currently possible, could you add it as a feature request?

[2021-03-03 00:29] MrThePlague commented on #99
I noticed you're using the `latest` tag in this workflow. I was experiencing the same issue; however, I changed the tag to the commit id, `${{ github.sha }}`, and everything seems to be working perfectly now. Maybe worth a shot.

[2021-03-03 05:41] AmrutaKawade commented on #113
@larryclaman You can enable auto-swap for slots on portal and deploying to slot is supported in this action.

[2021-03-03 05:57] AmrutaKawade commented on #108
@vonbv any update?

[2021-03-03 06:50] AmrutaKawade commented on #110
Hey thanks for suggestion, but unfortunately its not possible.

Currently while running action there are some [environment variables](https://docs.github.com/en/actions/reference/environment-variables) are bydefault available and commit message is not one of them

since Sha is available we can retrieve commit message with [Github API](https://docs.github.com/en/rest/reference/repos#get-a-commit)

[2021-03-03 14:27] larryclaman commented on #113
@AmrutaKawade Thanks, that does solve one use case, but not the broader feature of being able to use a GitHub action to swap slots. (as one can do with the Azure DevOps Task App Service Manage https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-app-service-manage?view=azure-devops)

Is the guidance to simply use the az cli for this?

[2021-03-05 03:22] AmrutaKawade commented on #113
Yes. App Service Manage task capabilities are not available currently in this Task and az cli would be alternative.
@N-Usha can you check into this enhancement request?

[2021-03-05 09:01] AmrutaKawade commented on #60
@0gust1 Sorry for delayed response.
action uses kudu zipdeploy api for deployment with zip file input
https://github.com/projectkudu/kudu/wiki/REST-API#zip-deployment

[2021-03-05 09:16] AmrutaKawade commented on #108
Closing this issue due to inactivity

[2021-03-05 09:16] #108 closed

[2021-03-05 12:58] sfabriece commented on #60
Any way to speed it up @AmrutaKawade ?

[2021-03-05 15:18] AmrutaKawade commented on #60
@sfabriece custom deloyment scripts should work.
Do not include node_modules in zip. Instead add `.deployment` and `deploy.cmd / deploy.sh` files at root of your repo with `npm install` command. it will execute npm install on target machine

some examples
https://docs.microsoft.com/en-us/azure/app-service/configure-language-nodejs?pivots=platform-windows#run-gruntbowergulp
https://github.com/proje

[2021-03-05 15:46] 0gust1 commented on #60
Thanks @AmrutaKawade !

Ideally, hints could be given in documentations and workflow files (for example: https://github.com/Azure/actions-workflow-samples/blob/master/AppService/node.js-webapp-on-azure.yml), as every nodeJS app will have the same behavior.

[2021-03-06 04:01] KirillOsenkov opened #114 "Deploy a simple static site"
I have a GitHub repo with just index.html, scripts.js and styles.css at the root of the repo.

What Yaml do I need to write to deploy these files from the root of the repo as is to an Azure App Service?

Thanks.

[2021-03-08 05:48] AmrutaKawade commented on #114
[code]

[2021-03-08 06:39] KirillOsenkov commented on #114
Thanks. We should add a small section to the front page of this repo to explicitly mention static websites. Also I found that the package is optional if I want to publish from the root of my git repo. We should document this.

Thanks.

[2021-03-08 07:31] AmrutaKawade commented on #114
@KirillOsenkov Sorry I missed that your app is static from your first comment

for [static web app](https://docs.microsoft.com/en-us/azure/static-web-apps/overview) this is the action to be used https://github.com/Azure/static-web-apps-deploy

Above solution is for [web apps](https://docs.microsoft.com/en-us/azure/app-service/overview)

[2021-03-08 16:43] KirillOsenkov commented on #114
No, sorry, my bad. I don't have an actual Azure Static web app, I have a regular Azure App Service that I want to deploy static content to (html/css/js).

[2021-03-09 07:30] AmrutaKawade commented on #110
I tried to retrieve commit message as mentioned here

https://stackoverflow.com/questions/63619329/github-action-get-commit-message

![image](https://user-images.githubusercontent.com/65217380/110434006-45110780-80d7-11eb-9c4e-1a758329e974.png)

![image](https://user-images.githubusercontent.com/65217380/110433844-07ac7a00-80d7-11eb-8ee4-b5e47da33d87.png)

But its not available

[2021-03-09 08:23] AmrutaKawade commented on #110
I have released this fix and you can verify with v2 tag. but strange thing is Deployment Center UI seems to be changed.
![image](https://user-images.githubusercontent.com/65217380/110440498-bbfdce80-80de-11eb-87c2-9b9137ff3338.png)

[2021-03-09 19:20] spellegrino021 commented on #110
Yes we recently changed the UI so if you are set up with Azure Pipelines you will see the classic Deployment Center.

[2021-03-10 04:58] AmrutaKawade commented on #110
since this is released will close this issue

[2021-03-10 04:58] #110 closed

[2021-03-10 09:59] sfabriece commented on #60
@AmrutaKawade as far as I can tell, the deploy scripts control how the app is deployment once on the target machine. How do I control what ends up in the zip file?

[2021-03-10 10:17] AmrutaKawade commented on #60
@sfabriece you can provide directly zip as a input to action or folder location which will be zipped in action

[code]

[2021-03-11 05:06] valdesrenier1 commented on #33
This will be a very helpful feature to include.

[2021-03-15 09:30] BALAGA-GAYATRI commented on #114
This is already documented in sample .yml files. Please check this for your reference.
https://github.com/Azure/actions-workflow-samples/blob/master/AppService/node.js-webapp-on-azure.yml

[2021-03-15 09:41] kaverma commented on #114
Closing as the sample yml has the documentation on package being defaulted to root.

[2021-03-15 09:41] #114 closed

[2021-03-15 13:49] erfannariman opened #117 "Install private repository during deploy"
Is there any way to install a private repository during deploy? I've been trying to solve this for quite a while now, even posted on Azure Q&A without any progress.

All steps run fine untill the last step `Deploy to App Service` using `webapps-deploy@v2`.

This is the YAML I use:

[code]

Here is the full error:

[code]

And our `requirements.txt`:

[code]

The error makes sense since it is a pri

[2021-03-17 10:01] kaverma commented on #60
Closing the issue as the question has been addressed and for performance we already have npm install in the sample workflow which optimises the time

[2021-03-24 17:07] nertim opened #118 "Provide the commit message in the zip deploy API"
The commit message exists in GITHUB_CONTEXT

Sample repo:
https://github.com/nertim/github-action-testapp-node

YML:
![image](https://user-images.githubusercontent.com/493476/112353025-8f25eb80-8c88-11eb-98e9-7e881e2b606b.png)

Commit message in output (line 231):
![image](https://user-images.githubusercontent.com/493476/112353105-a7960600-8c88-11eb-8526-2c6035b1ab3b.png)

[2021-03-24 17:07] nertim commented on #118
@AmrutaKawade @JasonFreeberg @spellegrino021 FYI

[2021-03-30 13:55] dennisameling opened #119 "Add docs for efficiently deploying Node.js Express apps"
I have a Node.js Express app (NestJS) which needs the whole `node_modules` folder to be present when running it. When using this GitHub Action is correctly builds the ZIP, but the simply fails after 20-30 mins (can't remember how long exactly it took). There are ~60000 files in the folder (`node_modules` is always huge), so I guess there's just too many files and folders for this to work well.

[c

[2021-03-30 14:00] dennisameling opened #120 "Add log stream to deployment"
Related to https://github.com/Azure/webapps-deploy/issues/119

Currently, when using this GitHub Action, no real-time deployment logs are shown, so it looks like the action is hanging. You won't see anything except for `Package deployment using ZIP Deploy initiated.` until the very end, where a link to the log files is shown:

![image](https://user-images.githubusercontent.com/17739158/113000986-a

[2021-03-31 05:33] kaverma commented on #118
@Balaga-Gayatri is looking into this issue

[2021-03-31 10:18] vonbv commented on #108
I'm sorry I did not get the notification when you replied. The issue just resolved on its own. I did encounter a few different issues but reached out to one of your teams and all are resolved now.

[2021-04-06 09:53] kaverma commented on #106
@sanchitmehta, can you please review #107 (based on whether 'api' kind is supported in web app)

[2021-04-06 10:35] kaverma commented on #109
Hi @harshiniks, wanted to check whether you are still facing this issue.

[2021-04-08 09:40] xcelsiorbosi opened #124 "FAIL: run azure webapp deploy action using publish profile credentials"
Hi Team,
I came across a nasty bug that took me a few days to resolve.

1) intially deploy on linux
2) wanted to try the webapp 'push' product so created a new web app and deployed win os
3) web app deployment failed non-stop, tried a million things and nothing worked
4) deleted webapp a few times and made a new one

5 -  (finally after 5 days)) reverted back to linux and used original  webapp nam

[2021-04-09 06:21] kaverma commented on #120
HI @dennisamelin, can you please try enabling step debugging to get verbose logs - https://docs.github.com/en/actions/managing-workflow-runs/enabling-debug-logging#enabling-step-debug-logging

[2021-04-09 11:11] reilem opened #128 "This action does not remove old files during upload!"
I would expect that when you upload a "new" deployment, that all traces of previous deployments would be removed. However, I just tested this on our dev branch and I can with 100% certainty confirm that old files from old outdated deployments are STILL PRESENT.

I sincerely hope this is a bug and not intentional design, because keeping old files in an app service can lead to all sorts of nasty stu

[2021-04-11 12:03] #113 closed

[2021-04-11 12:03] #109 closed

[2021-04-11 12:03] #88 closed

[2021-04-11 12:03] #83 closed

[2021-04-11 12:03] #64 closed

[2021-04-11 12:03] #49 closed

[2021-04-11 12:03] #33 closed

[2021-04-11 12:03] #25 closed

[2021-04-11 12:03] #6 closed

[2021-04-11 12:03] #3 closed

[2021-04-12 17:38] ywaserblat-excelforce commented on #60
Had the same issue, tried with the suggested solution of creating a custom deploy (btw, custom deploy for a standard task?)
but got the following error:
/opt/Kudu/Scripts/starter.sh: line 2: exec: deploy.cmd: not found
/opt/Kudu/Scripts/starter.sh: line 2: exec: deploy.cmd: not found\n/opt/Kudu/Scripts/starter.sh deploy.cmd
so far I wasn't able to solve this issue, so I am falling back to the defa

[2021-04-12 18:59] Louanes1 commented on #108
What do you mean it just resolved by its own, how long did it take? Im facing same issue when I try to deploy a linux web app using Azure Pipelines

[2021-04-12 23:00] timothyblue opened #129 "Does not seem to support Docker Compose (preview) in app service for containers"
I have a Web App for Containers service running with this docker-compose

[code]

I'm trying to update the app service config using this command:
[code]
However when the pipeline runs I receive this error:
`Error: Deployment Failed with Error: Error: This is not a container web app. Please remove inputs like images and configuration-file which are only relevant for container deployment.`

After lo

[2021-04-13 23:03] tbasallo opened #130 "Web Deploy to Azure Linux Web Apps Causes Random Exceptions"
Not sure if this is the correct place. If not please advise.

When deploying ASP.NET Core 3 websites to Azure Web Apps on Linux using Visual Studio 2019's Web Deploy, random, arbitrary exceptions come up. I have not seen any method to the madness. This started about 2 months ago.

It seems to publish code "partially" or somehow malformed. Across 10 different sites, I have seen errors from BadForma

[2021-04-15 05:36] kaverma commented on #124
@BALAGA-GAYATRI , can you please look into this?

[2021-04-15 07:36] #124 closed

[2021-04-16 15:56] dennisameling commented on #120
That works, but it'd be great to have this just for the `webapps-deploy` step. `ACTIONS_STEP_DEBUG` sets it for every step in the job, which is a bit overkill. I really like how the VS Code extension mentioned above is doing it currently, providing real-time updates on what's happening. Might be something to consider for the future? 😊

[2021-04-16 16:04] dennisameling opened #132 "Docker image deployment not triggering image pull"
We use a Docker deployment for our Web App, using the example that was provided here: https://github.com/Azure/actions-workflow-samples/blob/master/AppService/docker-webapp-container-on-azure.yml

The only difference is that we don't do

[code]
but instead
[code]

... because we can't afford to have a new image SHA for every deployment we do and have that pushed to ACR. We only have the `dev` and

[2021-04-26 16:11] ehamai commented on #130
Hi @tbasallo, this repo is used to track issues with the "Deploy" GitHub Action for Azure App Service which uses Zip Deploy, not Web Deploy to deploy code to your app.  Also Linux apps don't even support Web Deploy so even if we're not talking about GitHub Actions, it wouldn't work.  Can you clarify which client you're using to deploy from?  Is it GitHub Actions?  Or something else?

[2021-04-27 00:18] tbasallo commented on #130
I am using "Web Deploy" to an Azure App Service on Linux from within VS2019.

![image](https://user-images.githubusercontent.com/270673/116166557-47054900-a6cc-11eb-8aaa-1fa3659bd844.png)

![image](https://user-images.githubusercontent.com/270673/116166647-761bba80-a6cc-11eb-8a63-07ce90323005.png)

![image](https://user-images.githubusercontent.com/270673/116166682-8764c700-a6cc-11eb-8fc9-01333965

[2021-04-27 19:10] reflash commented on #54
Have you found any other solution since then? I'm facing the same problem with monorepo - my symlinks seem to be plain files with path to workspaces (but fail once node tries to import them)

[2021-04-29 16:03] ianrandell-sh commented on #3
@joeystdio - perfect!  I've been trying for hours to get it to work.  The key for me was getting the files deployed to the right place, i.e under app_data/jobs/continuous.

I couldn't find a single piece of documentation that explained how to do the whole thing. Wish I'd hit your post above sooner- would've saved me going round the houses.

Note: the above also works with azure login rather than p

[2021-05-03 07:49] BALAGA-GAYATRI commented on #119
@dennisameling  building node_modules during the deployment saves that bandwidth. Can you check the sample workflow attached here and let us know if it solves the issue.
https://github.com/Azure/actions-workflow-samples/blob/master/AppService/node.js-webapp-on-azure.yml

[2021-05-04 04:42] JasonFreeberg opened #135 "Deploying to App Service Environment (ASE) runs forever"
Scenario: I am trying to deploy a container to an ILB App Service Environment. (ILB = Internal Load Balancer, so the application is not internet accessible). I am using a Service Principal to authenticate and deploy.
- Workflow file: https://github.com/JasonFreeberg/spring-petclinic/blob/master/.github/workflows/deploy-container.yml
- Live repro: https://github.com/JasonFreeberg/spring-petclinic/a

[2021-05-04 12:42] MalteToenjes commented on #42
I get the same error. I'm using ADO Pipeline. I try to deploy a Windows FunctionApp. Interesting is that this error occurs only when I try to deploy to a slot. No issue with deploying it to production.

[2021-05-05 17:15] rawilder opened #136 "ACR url should deploy with Registry source as Azure Container Registry"
When using the following action config, it will deploy to the webapp instance configured with the Registry source as "Private Registry" which makes the deployment fail requiring a username and password. With managed identity, it should be fine setting it to Azure Container Registry so the existing permissions allow a smooth experience.

Workaround: Change the Registry source to Azure Container Reg

[2021-05-11 07:25] bjomi opened #138 "ZipDeploy to Web App via Github Actions fails without any error details"
Hi,

I'm setting up a new deploy pipeline with Github Actions. The action was initially created from Azure via the Deployment Center for the web app in question.

The project that gets build is a classic ASP.NET Framework (4.5.1) application. The web-app that I'm trying to deploy to has been around for many years (if that matters).

I have tried to run the deploy script both when the web-app is st

[2021-05-11 17:30] jacobkring commented on #135
I believe I am also experiencing the same issue when trying to deploy to an app service environment. Is there any workaround or another way to deploy that someone can recommend?

[2021-05-11 17:30] #120 closed, assigned to kaverma

[2021-05-11 22:27] jacobkring commented on #135
Never mind! I read your post more thoroughly and used the example workflow file you shared as an example to deploy and update the version using the cli as well.

[2021-05-13 09:35] BALAGA-GAYATRI commented on #117
@ehamai can you help with this?

[2021-05-13 12:22] BALAGA-GAYATRI commented on #128
@ehamai Can you have a look at this?

[2021-05-13 15:28] reilem commented on #128
I eventually had to work around this problem by adding `WEBSITE_RUN_FROM_PACKAGE`=`1` in the configuration of my app service. Still not an ideal solution though.

[2021-05-17 04:36] BALAGA-GAYATRI commented on #119
Assuming the above doc link solved the purpose. Closing the issue

[2021-05-17 04:36] #119 closed

[2021-05-18 13:46] facuesr opened #140 "Deploy To Azure WebApp runs forever"
I'm trying to deploy a nodejs web app to azure and the action stuck in 'Deploy to Azure WebApp'.

this is my workflow file.

![Screen Shot 2021-05-18 at 10 44 22](https://user-images.githubusercontent.com/29279815/118662060-16459a80-b7c6-11eb-89d8-e6196e9ef4ac.png)

I'm using a linux app service plan.

[2021-05-24 15:37] UncleJazzmus commented on #138
I am experiencing the exact same issue! I have also hit a wall with the logs - the "Refer logs" in the error message hasn't exactly helped either.

[2021-05-25 15:23] jeancroy opened #151 "Configure Debug Flag"
So the Azure Deployment Center, configured with a Github Source seems to use this script running on Github action to build app before using zip deploy.

My issue is that asp.net application built this way seems to have the debug flag on.
As in `#if (Debug) .. #endif` preprocessor directive.

It doesn't seem to be a slot setting, and it doesn't seem to be aware of web.config > system.web>compilatio

[2021-05-26 00:44] chaos-ui opened #152 "Introduce Projects from Azure Webapps deploy - github-actions"
https://docs.microsoft.com/en-us/azure/app-service/deploy-continuous-deployment?tabs=github#how-the-github-actions-build-provider-works

[2021-05-30 14:45] imuller opened #154 "Deploy to custom folder on Azure App Service"
Hi!

How can i configure to deploy to a custom sub folder on Azure App Service? I tried different ways by setting it in the publish profile but it wont work. Always deploying to the wwwroot folder.

Thanks!

[2021-05-31 06:37] ladykraken opened #156 "pharandemanuelle2608@gmail.com"

[2021-05-31 06:40] ladykraken commented on #156
Thanks to all the help I received thru the beggining of this New chapter

[2021-06-02 09:13] BALAGA-GAYATRI commented on #156
We are glad to hear that! Happy learning :)

[2021-06-02 12:09] BALAGA-GAYATRI commented on #152
@chaos-ui Can you explain the issue in detail?

[2021-06-03 13:21] #129 closed

[2021-06-03 14:59] jorenbroekema commented on #132
Hm yeah I seem to be facing the same problem.. The linked azure pipelines issue was supposedly fixed, but this issue definitely still persists

[2021-06-04 11:22] azooinmyluggage opened #159 "Validate deployments to App Service Environments"
https://docs.microsoft.com/en-us/azure/app-service/environment/intro

[2021-06-04 11:24] azooinmyluggage opened #160 "Review branding of all App service actions on Marketplace"
For example
![image](https://user-images.githubusercontent.com/6857119/120794129-71f97d00-c555-11eb-8bb5-918d470804b0.png)
and
![image](https://user-images.githubusercontent.com/6857119/120794164-80479900-c555-11eb-894c-f6ccaa0b8509.png)
and
![image](https://user-images.githubusercontent.com/6857119/120794216-8e95b500-c555-11eb-9fe0-cc25402bfacf.png)

[2021-06-04 11:26] azooinmyluggage opened #161 "Can't run post deployment scripts on the web app"
Can't run post deployment scripts on the web app. Web App action doesn't support running post deployment scripts.

[2021-06-06 17:40] wapacro opened #162 "Multi-Container Deployment stopped working"
For two different and unrelated Azure multi-container web apps (using the same shared app service plan), deploying with the Azure/webapps-deploy@v2 action via GitHub Actions suddenly stopped working.

The webapps-deploy action always fails with:
[code]

The last deployments from May 24, 2021 and before worked smoothly with the same pipeline. Also, nothing has been changed on the web app in the mea

[2021-06-07 07:52] BALAGA-GAYATRI commented on #162
Hi @wapacro  can you try with the action **azure/webapps-deploy@v2.1.6** instead of **azure/webapps-deploy@v2** and let us know the results and also make sure publish-profile is not being used for deploying multi containers as we don't have support for that.

[2021-06-07 08:22] wapacro commented on #162
Hi @BALAGA-GAYATRI

[2021-06-08 20:05] imuller commented on #154
Any update on this? Currently pushing to the wwwroot folder also removes the other contents.

[2021-06-09 05:29] BALAGA-GAYATRI commented on #162
You are right @wapacro. Ideally it should be that. Due to the latest release changes in V2, it caused the discrepancy with multi-container support. We are fixing and re-releasing it. Till then you may use v2.1.6.

[2021-06-09 05:34] BALAGA-GAYATRI commented on #159
@azooinmyluggage Can you elaborate the issue clearly.

[2021-06-09 05:40] BALAGA-GAYATRI commented on #152
@chaos-ui If you are looking for documentation related to deployments using webapps-deploy action, you may refer [documentation](https://github.com/Azure/webapps-deploy#github-action-for-deploying-to-azure-web-app) here. It has sample workflows and guidelines.

[2021-06-09 06:39] kanika1894 commented on #106
@sanchitmehta any insights?

[2021-06-09 06:48] BALAGA-GAYATRI commented on #162
And we want one more thing from you. Can you test with our latest changes **azure/webapps-deploy@users/balaga-gayatri/multicontainer-support**  in the place of **azure/webapps-deploy@v2.1.6** and let us know the results.

[2021-06-09 14:29] azooinmyluggage commented on #159
"The Azure App Service Environment is an Azure App Service feature that provides a fully isolated and dedicated environment for securely running App Service apps at high scale."

Do we need to make any changes to our Action to support this?

[2021-06-09 14:30] azooinmyluggage commented on #159
I remember we made some changes to Pipeline task in order to support ASE. We need to cross check.
This is a good question for App Service team as well.

[2021-06-10 20:40] kf6kjg commented on #136
If I read the README correctly this behavior has been pawned off to the [`azure/appservice-settings` action](https://github.com/Azure/appservice-settings). It'd be nice to have this in a one-stop-shop though.

[2021-06-11 05:49] pulkitaggarwl commented on #160
@JasonFreeberg  can you please have a look at the branding and update / suggest as needed.

[2021-06-11 07:06] BALAGA-GAYATRI commented on #162
We have fixed it @wapacro  ! please try  **azure/webapps-deploy@v2.2.1** and let us know the results and if works great we will go ahead with updating tag.

[2021-06-11 07:08] #152 closed

[2021-06-11 07:10] BALAGA-GAYATRI commented on #138
@sanchitmehta Any idea about this?

[2021-06-11 07:35] kaverma commented on #162
@BALAGA-GAYATRI , please close the issue if fixed.

[2021-06-11 08:22] kaverma commented on #159
@pulkitaggarwl , can you please have a look at this whether we need to take this enhancement?

[2021-06-11 08:47] pulkitaggarwl commented on #159
Thanks Atul, this is good one to validate / add. Lets keep this in our backlog and we can evaluate in the next planning cycle.

[2021-06-11 09:43] BALAGA-GAYATRI commented on #162
@kaverma fixed.

[2021-06-11 09:43] #162 closed

[2021-06-11 09:48] BALAGA-GAYATRI commented on #151
@jeancroy can you try adding a secret **ACTIONS_STEP_DEBUG** and set the value **true** and see if it helps debug the issue.

[2021-06-11 09:50] BALAGA-GAYATRI commented on #140
@facuesr can you try adding a secret **ACTIONS_STEP_DEBUG** and set the value **true** and see if it helps debug the issue.

[2021-06-11 09:52] BALAGA-GAYATRI commented on #138
@bjomi @UncleJazzmus  can you try adding a secret **ACTIONS_STEP_DEBUG** and set the value **true** and see if it helps debug the issue.

[2021-06-11 10:17] BALAGA-GAYATRI commented on #117
@erfannariman  This doesn't seem like an issue with webapps-deploy action as the issue is with installing dependencies. You can raise your concern with actions team.

[2021-06-11 10:17] #117 closed

[2021-06-11 11:34] bjomi commented on #138
@BALAGA-GAYATRI thanks for getting back!

I mentioned it in my original description of the issue, but not very clear. I did enable debugging and it did not give me any further information unfortunately.

[2021-06-11 16:32] UncleJazzmus commented on #138
I added ACTIONS_STEP_DEBUG  but it didn't add any new knowledge. I gave up on github actions and went back to a known working solution.

[2021-06-11 16:39] kf6kjg commented on #136
After posting that yesterday I kept working on it. You are right.  However there's a gotcha that might be the reason this action doesn't have this feature.

I wound up replacing this action with roughly, though not exactly, equivalent Azure CLI commands:

1. `az webapp config container set` sets the `--docker-custom-image-name` and `--docker-registry-server-url` for the ACR.  But that needs to hav

[2021-06-11 23:04] jon64digital commented on #60
Could somebody please explain how this can be solved?

I am using the latest version of the script automatically installed by the Azure portal when using the deployment center. It seems to be running npm install on Github then uploading every file individually. Did anyone find a way to (A) zip them up and unzip them on the target webapp or (B) just do the npm install on the target webapp (although

[2021-06-13 13:43] imuller commented on #154
As a workaround i currently modified the deploy.cmd script located in C:\home\site\deployments\tools\deploy.cmd. Somewhere the DEPLOY_TARGET environment variable is set. You can overwrite it by setting it with a if condition by looking at the SCM_COMMIT_MESSAGE. Change the [REPOSITORY_NAME] with the name of your repository. It's not perfect but the script knows where to deploy.

`IF /I "%SCM_COMMI

[2021-06-14 11:05] BALAGA-GAYATRI commented on #135
@JasonFreeberg can you try adding a secret ACTIONS_STEP_DEBUG and set the value true and see if it helps debug the issue.

[2021-06-14 13:08] BALAGA-GAYATRI commented on #118
Hi @nertim released the changes with this feature.

[2021-06-14 13:08] #118 closed

[2021-06-14 16:19] rawilder commented on #136
This is very helpful! Thank you. I wonder if there'd be a way to work around if if the role just already exists and there's no need to grant access on the deployment. Like `if app has access already then just use acr type else use registry url, username, and password`.

[2021-06-15 10:06] BALAGA-GAYATRI commented on #154
Hi @imuller

Please try with below mentioned steps.
1. Download your publish-profile and make below changes to it.

- Change Site Name from `your-site` to `your-site\folder\sub-folder`

- Change the Destination URL from `http://your-site.azurewebsites.net `to `http://your-site.azurewebsites.net/folder/sub-folder`

2. Go to the **azure portal -> your app  -> configuration->path mappings** and creat

[2021-06-15 12:31] BALAGA-GAYATRI commented on #135
@JasonFreeberg  Here are few insights

-  Stopping condition : within the action we don't have such stopping condition

- but in the kudu utility functions from [pipelines-appservice-lib](https://github.com/microsoft/pipelines-appservice-lib) which we use for our action, we have [zipDeploy ](https://github.com/microsoft/pipelines-appservice-lib/blob/007a2087fe8bebfc96f98fcc2b4a907829083677/package

[2021-06-15 16:21] ehamai commented on #140
Hi @facuesr , just curious but is the target app you're trying to deploy to hosted on an ILB ASE by chance?  If so, I'm wondering if this is a duplicate of this issue.  #135

[2021-06-18 20:53] erolhoke commented on #60
Seconding this one I am having the same problem and the solutions provided above do not seem to be working. I am using the standard file automatically generated by the Azure portal as well.

[2021-06-19 04:20] kaverma commented on #60
@BALAGA-GAYATRI , can you please help here with the above queries? If the solution isn't working, can you please reopen the issue?

[2021-06-21 11:52] ArieJones commented on #138
I am also running into the same issue and have tried a number of things..
1. ACTIONS_STEP_DEBUG : no change
2. Scaling up and down plan: no change
3. Deployments in Advanced Tools shows the deployment commits properly.. but the deployment logs only show
4.
`2021-06-20T11:41:38  An unknown error has occurred. Check the diagnostic log for details.
2021-06-20T11:41:38  An unknown error has occurred.

[2021-06-21 13:09] ArieJones commented on #138
I have also tried to use VC Deploy to Azure package since that uses zip deploy and I was wondering if I would get better results.. but it seems as if that one is failing as well.. same generic error with nothing in the logs to point a way forward

[2021-06-21 14:28] ArieJones commented on #128
Has there been any kind of update on this? It may be related to the current issue I am having with deployments...

#138

Not exactly wanting to napalm everything in the wwwroot directory without a clear understanding of ramifications. Like can I just nuke everything and then redeploy? Will that affect a redeploy?

[2021-06-22 00:26] ArieJones commented on #138
I have finally got it going again... it seems that Azure App Service is having an issue with webpack 5. I haven't the fainest what it is .. but if I disable webpack 5 and make the nextjs proejct use the older 4 then it will finally deploy without error.

I would maybe guess that it has to do with App Service only supporting Node 14 LTS. It would help if maybe the error messages or logging were a l

[2021-06-22 00:28] ArieJones commented on #128
So I have addressed my issue with deployments but can still see that these old files are hanging around.. .which is not good. If we were to wipe out the wwwroot folder items and then redeploy would that be sufficient to rectify things? I am unsure if there are any app service specific items that dwell within the folder that need to be hands off and unintentionally deleting them would cause an issu

[2021-06-22 15:52] reilem commented on #128
You should be able to wipe them. Whenever I did there was no problem. I just got tired of having to do it manually, since there wasn't any clean way to automate it. So I just started using the WEBSITE_RUN_FROM_PACKAGE config.

[2021-06-24 04:40] vonbv commented on #108
I just did not encounter it anymore, I have no idea why, sorry I can't help there.

[2021-06-28 08:30] jorenbroekema commented on #132
Am I supposed to make it un-idle before it gets auto-closed? I never know for sure with these bots.

[2021-07-01 15:22] haraldatbmw commented on #135
@BALAGA-GAYATRI You mentioned that zipDeploy is used. Is this deployment model compatible with an internal App Service Environment used for hosting the AppServices?

[2021-07-02 18:31] indoben commented on #132
I'm having this issue as well. It seems so arbitrary as to when it updates when the image changes and when it straight ignores the change.

[2021-07-02 20:44] NLeRoy917 opened #187 "App Service settings not exposed as environment variables inside Docker container"
Hello,

I've been having this issue for a while where App Settings that I set within my App Service on the Azure Portal **are not** injected within the docker container itself on build and push or deploy. I followed [this](https://docs.microsoft.com/en-us/azure/app-service/configure-custom-container?pivots=container-linux#configure-environment-variables) guide, but it did not work.

More specifica

[2021-07-04 14:52] NLeRoy917 commented on #187
Solved. I'm using GitHub actions and was able to employ the `azure/CLI@v1` [action](https://github.com/marketplace/actions/azure-cli-action). I'm just manually extracting App Settings from the Azure CLI and then piping that output to a custom python script and piping **that** to a `.env` file that gets pulled into the Docker container on build and thus, exposes all variables in that file with a `R

[2021-07-04 14:52] #187 closed

[2021-07-18 09:53] jorenbroekema commented on #132
Bumping... still having this problem

[2021-07-19 15:32] danielmoessner opened #188 "Question: Is there a working example with docker-compose?"
I've got a django app with nginx.

I would like to auto-deploy it to an azure app service.

However I don't get docker-compose to work and auto deploy my code.

What do I need to change so that it works on azure?

At the moment my github actions look like this:
[code]

[2021-07-21 20:20] willdave865 commented on #42
I had the same problem. The issue appeared to be caused while having the deployment open in IDE (Visual Studio 2019 latest) at the same time as Github. Attempting to deploy codebase from GitHub when I hadn't finished last details (keyvault, username/password) for publish from V.S

[2021-07-22 11:50] BALAGA-GAYATRI commented on #188
hey @danielmoessner ! You should pass [configuration-file](https://github.com/Azure/webapps-deploy/blob/45c59f7e52af49a907d6dc9cfef6fc715137838a/action.yml#L22) parameter in the input with the corresponding value as the compose file path. In that case you need not need to pass images field as input. You may refer this for a [sample workflow](https://github.com/BALAGA-GAYATRI/python_container_App/b

[2021-07-24 13:07] danielmoessner commented on #188
Thanks for your answer. I didn't understand that nginx was running already on those web services. Therefore, I tried to run it myself in docker-compose. I realized I didn't need to do that and went with a normal docker image.
I will keep that sample workflow in mind. In case I need to deploy docker-compose at some point in the future.
Thanks.

[2021-07-24 13:07] #188 closed

[2021-07-25 20:01] rymdfarfar commented on #154
Any updates on this? @BALAGA-GAYATRI solution did not solve it for me.

[2021-07-26 13:43] alexryall commented on #161
It would definitely be a nice feature being able to easily run commands on the new app once it's deployed. From what I can tell the only way this is possible at the moment is by adding a startup command but you cannot see the output of these commands anywhere.

I have played with trying to SSH to the newly deployed app using the Azure CLI (az webapp ssh) but this is no use in an acton because you

[2021-07-28 22:20] JasonFreeberg commented on #140
@facuesr -- Were you deploying to an ILB ASE or a site with private endpoints enabled? I'm wondering if the deployment was blocked due to networking restrictions. Let us know!

[2021-07-28 22:21] JasonFreeberg commented on #132
@jorenbroekema -- Do you mind sharing your site name? I can take a look and see if there's anything on our end to figure out what's going on

[2021-07-28 22:34] JasonFreeberg commented on #128
Hi @reilem, do you mind sharing the site name where you were having this issue? What OS and framework were you deploying (Flask, Express, .NET, Spring Boot)?

[2021-07-28 22:50] JasonFreeberg commented on #151
@jeancroy -- Is this the workflow file template that you're using? https://github.com/Azure/azure-functions-ux/blob/e926ad77fa8786c9d88c5ca8a575d427f9142e9b/server/src/workflows/2020-12-01/web-app-configs/aspnet-windows.config.yml

That's what we drop in users' repos when they set up GitHub Actions. I don't see the directive being set there. Is it enabled in your app config or something?

[2021-07-28 22:51] JasonFreeberg commented on #154
Looks like an opportunity for OneDeploy

[2021-07-28 22:54] JasonFreeberg commented on #160
@pulkitaggarwl , @N-Usha -- Should all actions be using the new Azure logo, or should each Action use its service logo (Web Apps uses web apps logo, Functions uses Functions logo, etc.)

[2021-07-28 22:56] JasonFreeberg commented on #161
Would be an opportunity for app.yaml. But streaming any runtime logs back to the action might be blocked w/o Service Prinicipal auth (can publish profile fetch sufficient logs from Kudu APIs)?

[2021-07-29 03:43] sabeeshvk commented on #60
This is still a problem.  I am trying to deploy a sample angular app and the files are being pushed individually instead of getting packaged together.    The build process is slow as well.

[2021-07-29 08:40] jorenbroekema commented on #132
I'm afraid the Azure App has been deleted, my trial expired 😅

I still have the GitHub repository though, https://github.com/jorenbroekema/azure-node-app/blob/main/.github/workflows/deploy.yml#L45

Here you can see the deploy workflow, and instead of having `${{ github.sha }}` I was using `latest` on the last line of the yml.
I was not using Service Principal, but Publish profile in order to deplo

[2021-07-29 17:50] JasonFreeberg commented on #132
Ah I see, yeah the `latest` tag is the crux of the problem. Since the name of the image isn't actually changing, the API doesn't recognize it as a deployment. Restarting the web app always triggers a pull, so that's why the manual restarts are solving the issue.

This problem is at the API, so the Action could force-trigger a restart if the tag is `latest`, but other clients (VS Code, Pipelines) w

[2021-07-29 20:34] jorenbroekema commented on #132
Hmm so at the API level, I assume some check like `if (old.tag === new.tag) { return; }` is done, would it make sense to remove this check or would that be throwing out the baby with the bathwater?

One solution could be to add a check for the tag "latest" but if you've got other distribution tags where it still needs to trigger, the problem will persist for those non-latest tags.

Another solutio

[2021-07-30 14:01] reilem commented on #128
It is a Linux app service running a Node 12 LTS stack. The application is similar to express, an apollo-fastify graphql server.

[2021-07-30 20:08] JasonFreeberg commented on #140
@facuesr -- Please let us know your site name and if the site had networking features set up that could block access to the site (firewall, ILB ASE, Private Endpoints, Virtual Network, etc.). I'll close this issue if we don't hear back soon.

[2021-08-02 14:13] pulkitaggarwl commented on #160
@JasonFreeberg
While publishing the action you need to choose from existing list of icons. I don't think today we would have all icons corresponding to each service.

[2021-08-02 14:21] mcthick commented on #60
I have a similar problem, but with just simple HTML. It seems that changing a single character in a single file means that the action goes ahead and grabs every file in the site structure to include in the zip rather than the files changed according to the last ref. So, a single character change takes 4-5 minutes to deploy. Setting the package directory as an option is not a functional solution si

[2021-08-10 09:59] thewilkybarkid opened #189 "Deployment failure marked as passed"
I've just had a run (https://github.com/PREreview/prereview/runs/3289511938) log:

[code]

But it failed due to a misconfiguration, the deployment log containing:

[code]

Is it possible to check that the deployment has actually worked?

[2021-08-16 16:03] azooinmyluggage commented on #160
@saquibkhan to confirm this.

[2021-08-20 03:10] mweel1 commented on #60
+1.  Very slow deployments.

[2021-08-31 14:36] BALAGA-GAYATRI commented on #189
hey @thewilkybarkid Can you add this secret in your repo `ACTIONS_STEP_DEBUG` and set its value to `true` to enable detailed debug logs and that might solve the issue. Also please share your workflow if the problem persists. Do let us know if it works.

[2021-09-02 21:29] vinaysandela opened #190 "Error while deploying to Azure App service"
We are trying to Deploy Azure App Service from GitHub Actions using Windows Self-Hosted Action Runner

Using task - https://github.com/Azure/webapps-deploy

workflow -
    - name: Deploy to Azure WebApp
      uses: Azure/webapps-deploy@v2
      with:
       # app-name: ${{ env.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package:  './myapp/Packa

[2021-09-05 16:07] jsmircic commented on #60
Can someone point to an example on how to setup `npm install` as post deployment step. Not much luck with google. This was possible with Azure DevOps release task but can't make it work with GitHub action. Tried the suggestion from @AmrutaKawade  without success. looks like the Kudu is skipping .deployment and .deploy.sh files for some reason.
This is written in logs

[code]

Having extremely slow

[2021-09-06 01:13] SteveWinward commented on #42
I discovered for me that I was not using the right GitHub Action template.  I was using the dotnet core app vs the ASP.NET MVC template on the docs below,

https://docs.microsoft.com/en-us/azure/app-service/deploy-github-actions?tabs=applevel#aspnet

Once I updated to using the ASP.NET MVC template everything worked correctly.

[2021-09-07 09:13] akbast opened #191 "Deployment does not work over Github Action"
Hi,

I have an App-Service deployed on Azure in that I want to deploy with node application which is written in typescript.

If I start the deployment via VS-Code Extension for Azure App Services, it works without a problem. I can see that my Service is deployed and it is usable.

If I try to deploy it from a Github Action, the deployment seems successful but the App-Service is not reachable anymo

[2021-09-07 10:03] BALAGA-GAYATRI commented on #191
hey @akbast Can you provide workflow and error logs here so that the issue can be found. Also please confirm if you are following the instructions provided in the [readme](https://github.com/Azure/webapps-deploy#create-azure-web-app-and-deploy-using-github-actions).

[2021-09-07 15:01] akbast commented on #191
I could fix the problem with setting the WEBSITE_RUN_FROM_PACKAGE to true in my app service. The issue can be closed

[2021-09-08 05:18] #191 closed

[2021-09-09 17:58] ardalis opened #192 "Getting 404 when deploying"
This if for a public repo you can see here:
https://github.com/DevBetterCom/DevBetterWeb

Running the CI/CD workflow (github action), everything works until the deploy step, when I get back a 404 result. Here's the failing log:

![image](https://user-images.githubusercontent.com/782127/132738096-19864b33-58bb-48eb-a5df-ca300b6db12d.png)

I've been searching and I can't find any information on why

[2021-09-09 18:03] ardalis commented on #192
Ok, so, it worked once I switched to using windows.

![image](https://user-images.githubusercontent.com/782127/132738687-aa52792d-e59e-4fa1-a516-7b16496cc210.png)

Here's the YAML (https://github.com/DevBetterCom/DevBetterWeb/blob/main/.github/workflows/ci-cd.yml):

[code]

Only thing I changed is `runs-on` to `windows-latest` from ubuntu. Is this a known issue? Some kind of case sensitivity?

[2021-09-12 06:46] ladykraken opened #193 "Cookie Notice"
https://support.microsoft.com/en-us/feed/rss/28201360-d50e-efaf-2a2b-4233c715a4d0

[2021-09-13 10:46] BALAGA-GAYATRI commented on #193
Hey @ladykraken Can you please explain issue in detail.

[2021-09-13 11:13] BALAGA-GAYATRI commented on #190
Hey @vinaysandela Can you please confirm if

- The `app-name` field is commented or uncommented because deployment is going to fail without it.
- Is it running fine on github hosted runners?(windows-latest/ ubuntu-latest)?
-  The` package` path provided is correct or not.

Also please check if the dependencies required by the app are being fulfilled or not. Visit [example workflows](https://github

[2021-09-13 11:31] #140 closed

[2021-09-13 15:51] ehamai commented on #192
Hi @ardalis, I'm not sure exactly what the difference is between the different OS's for publishing with Zip Deploy, but given that your target app is running on Windows, this might be the expected behavior.

[2021-09-14 08:28] mbiegert commented on #192
Hi, I just had a call with the Azure Support team. We experience the same problem as mentioned in the initial post, a "CODE 404" error on the zip deploy.

Curiously when switching the github action from ubuntu-latest to windows-latest the issue appears to resolve for us as well. We also run the Azure App Service on Windows, however I fail to understand how a network request fails if it is made bet

[2021-09-14 13:42] ardalis commented on #192
@ehamai if it's the expected behavior it should be well-documented; is it documented at all?

Also, if this is the expected or known behavior, I would expect a more helpful error message than a 404 Not Found with no other useful information. Last time I checked, HTTP worked across different operating systems, so I'm guessing the issue isn't at the HTTP layer, but somewhere in Azure's stack, where

[2021-09-14 17:02] mbiegert commented on #192
I don't think it's desired behaviour, it has been working fine for many months up until now.
Also deploying using the endpoint in the kudu tools of the App Service works from my (Linux) computer, after creating the zip locally.

[2021-09-15 21:46] ladykraken opened #195 "Desktop"
[LocalizedResourceName=(@%SystemRoot%\system32\shell32.dll,-21798)]
@mskraken
https://accounts.zoho.com/accounts/w/c/a?servicename=ZohoSupport&digest=AC-2YNXnN0N9crrKM9vdWJH6x9OB
b1-de3e9276-1910-42ea-b6cb-ecf06ad4ac33
[FunctionName("Counter")]
public static void Counter([EntityTrigger] IDurableEntityContext ctx)
{
    switch (ctx.OperationName.ToLowerInvariant())
    {
        case "add":

[2021-09-16 21:41] wmmihaa opened #196 "Generating deployment script, fails due to invalid path"
## Background
I raised this issue before (#42), but as it took too long to resolve, I moved on to other solutions. As I'm now working on a new project, I though I give it another chance, sadly to discover the issue has yet not been resolved.

## Solution set up:
I have a solution with ASP.Net web app together with a few other projects. All projects are .Net5 except one which is .Net3.1 (Azure Func

[2021-09-17 07:11] wmmihaa commented on #196
## UPDATE
After setting up a new site I created a new deployment from VS, and it worked. I also created a slot and could deploy to that one too.
The difference with this deployment was that I started with creating the deployment from VS, while I created the deployment from the Azure portal the first time.

I will leave the issue open, as I still think this is an issue which needs to be resolved.

[2021-09-17 16:02] mbiegert commented on #192
We just ran into the problem again even when using windows actions.
Same error as with the linux backed github actions, CODE 404

[2021-09-17 16:12] prabhakarreddy1234 commented on #192
Yea. this issue suddenly popped up again. Getting CODE 404.

[2021-09-18 19:42] j4fm opened #197 "Deployment failed when deploying to a Deployment Slot due to app name/slot name validation logic"
"Deployment Failed with Error: Error: Publish profile is invalid for app-name and slot-name provided. Provide correct publish profile credentials for app.

Looking at the validation logic, it splits the username by "__", but usernames configured by Azure App Service are of the format $appname(slotname), not $appname__slotname.

Therefore, it always fails to match and validate appname and slotname.

[2021-09-20 09:21] BALAGA-GAYATRI commented on #193
@ladykraken Any updates on the issue details?

[2021-09-20 09:21] kanika1894 commented on #195
hey @ladykraken,

Can you please help us more in understanding your issue?

[2021-09-20 10:35] #193 closed

[2021-09-20 10:38] BALAGA-GAYATRI commented on #195
@ladykraken this action repo issues page deals with only issues on webapps-deploy to azure using github workflows. Closing this as your issue seems to be not relevant for this repo.

[2021-09-20 10:38] #195 closed

[2021-09-20 16:17] ehamai commented on #192
@spellegrino021 could you help take a look into this please?

[2021-09-21 07:00] BALAGA-GAYATRI commented on #190
@vinaysandela any updates on this issue? Can you share your workflow if the issue still persists.

[2021-09-21 11:47] BALAGA-GAYATRI commented on #196
Hey @wmmihaa, This issue will be investigated and you will be updated with appropriate solution.

[2021-09-21 16:55] BALAGA-GAYATRI commented on #197
Hi @j4fm Thank you for suggesting the workaround. This issue is being investigated and will let you know the solution.

[2021-09-21 17:00] BALAGA-GAYATRI commented on #138
@ehamai @JasonFreeberg Does App Service supports only Node 14LTS? The above comments says so. Your thoughts?

[2021-09-22 16:00] BALAGA-GAYATRI commented on #197
Hey @j4fm. We have the updated validation logic here in `LaylaLiu-gmail/webapps-deploy@v3` as a temporary fix. While we are working on more consistent solution, you can use the above if you don't want change your appname to "appname(slotname)".

[2021-09-22 20:39] j4fm commented on #197
Thank you @BALAGA-GAYATRI, for the moment I have switched to testing out pure app service but will likely come back to azure arc app service, so this will be useful for then.

[2021-09-23 17:02] spellegrino021 commented on #196
Hi @wmmihaa, when you say you started a deployment from the azure portal did you go to the Deployment Center in the Azure portal and configure your deployment from there? If so, do you mind providing the logs from the portal as well? You could also try modifying your workflow file to use path: ${{env.DOTNET_ROOT}}/myapp in the publish step, it looks like from the logs here it cannot find the build

[2021-09-24 15:54] wmmihaa commented on #196
Yes I did, however I don't have any logs at this point. This is a production environment and as I said before, it's now working so I don't want to mess with it right now (I'm sure you understand).

[2021-09-24 15:54] #196 closed

[2021-09-25 20:21] Blakezik commented on #60
I have this same issue. Express server REST API and a React Client front end.
The node_modules would be best built on the server rather than added in the zip deployment.
Though I'm not really seeing much of a resource on how to do that.
Any suggestions?

[2021-09-29 12:30] Whyeasy commented on #136
This would be great to have. Currently I'm running in to an issue and this would solve it. I create my infrastructure via Terraform and have the managed identity set and assigned the `acrPull` role in the ACR resource. To make the app service authenticate with ACR and use the managed identity, you need to set an extra value. This value is overwritten with this action as it's part of the `site_conf

[2021-10-01 08:47] MalteToenjes commented on #42
After the MS support also couldn't help me I decided to delete the ressource and recreated it...after this it worked....

[2021-10-04 14:42] rtomlinii-landrys commented on #138
What is this status of this bug? When I try to deploy a file of .zip type, I get an error saying this file isn't supported. I can add images if need be.

[2021-10-04 15:16] rtomlinii-landrys opened #198 "Deploy Azure Web App as Zip File Fails (.Net)"
When trying to deploy a web app to azure (specifically Sitecore TDS), I only need to deploy the zip file. According to your documentation this should work. However, when I attempt to deploy using the github action **azure/webapps-deploy@v2**, I get the following error message: _Error: Deployment Failed with Error: Error: Deployment of msBuild generated package is not supported. Please change packa

[2021-10-09 16:47] kizylirio commented on #60
Same problem here

[2021-10-15 04:06] philip-gai opened #199 "Feature Request: Use Publish Profile file in repo instead of in secrets"
I would like to use version control for my publish profile instead of just having it in secrets.

My ideal setup would be:
1. Download the publish profile from Azure portal
2. Replace any passwords with tokens aka `#{USER_PWD}#`
2. Add it to the repo
4. Use <https://github.com/cschleiden/replace-tokens> to replace the tokens in a step in the workflow
5. Deploy using the local file relative path in

[2021-10-17 03:05] AustinWise opened #200 "GitHub actions pipeline fails, but deployment is successful."
I have [an application](https://github.com/AustinWise/DinnerKillPoints) that I updated to .NET 6 RC2. I'm using the early access support in Azure App Services for .NET 6.

See [this pipeline run](https://github.com/AustinWise/DinnerKillPoints/runs/3916854153?check_suite_focus=true). The pipeline is marked as failed. It has these error messages:

[code]

Despite the pipeline for deploy being marked

[2021-10-29 22:10] carterm commented on #54
`npm install $(npm pack <folder> | tail -1)`

https://stackoverflow.com/questions/21425980/npm-install-without-symlinks-option-not-working

[2021-11-09 09:48] 0gust1 commented on #60
Since we opened this issue (it's been some time!), we don't use the github action anymore:
- we created a dedicated service principal to be used with `az cli`
- we build in the github action and make a zip ourselve
- we use the `az cli` action to deploy
- (related?) since this issue opening we also changed our tech stack, we moved from ExpressJS+VueJS to Svelte-kit (with full OS-independent depend

[2021-11-10 06:37] AustinWise commented on #200
I took a look at the file `D:\home\site\deployments\3256fa236268404b9d4ca54fd9658548\manifest` and see these lines:

[code]

However when I do a `dotnet publish` locally, I only see the file `wwwroot\Identity\lib\bootstrap\LICENSE`.

This file is being feed into an invocation of `kudusync`:

[code]

I have not yet found out what is generating this erroneous input for `kudusync`.

[2021-11-10 07:46] AustinWise commented on #200
Looking at the existing site directory, there is indeed the `wwwroot\Identity\lib\bootstrap\LICENSE\LICENSE` file.

[code]

So it seems the `kudusync.net` program can't handle directories turning into files between deploys.

One option might be to fix `kudusync.net`.

[2021-11-10 08:26] AustinWise commented on #200
I have a PR to KuduSync.NET that may address the problem: https://github.com/projectkudu/KuduSync.NET/pull/30

[2021-11-11 00:37] yubischiess commented on #192
Any updates here? Right now I can work around this by swapping my container between windows and ubuntu, but this is annoying and it seems to be inconsistent as to which one will work and when.

[2021-11-11 09:30] mbiegert commented on #192
We haven't hit this snag for over a month now. We didn't need to take further action.

[2021-11-11 14:59] yubischiess commented on #192
I'm still getting this daily. running azure/webapps-deploy@v2

[2021-11-12 09:33] RichMercer commented on #200
I wonder if this isn't a Kudu issue at all because I see pretty much the same thing when running `dotnet build` on my newly upgraded .NET 6.0 solution on a Mac. Seems a but of a coincidence.

/usr/local/share/dotnet/sdk/6.0.100/Sdks/Microsoft.NET.Sdk.Razor/targets/Microsoft.NET.Sdk.Razor.StaticWebAssets.targets(616,5): error MSB3024: Could not copy the file "/Users/rich/.nuget/packages/microsoft.a

[2021-11-13 04:24] AustinWise opened #201 "Deployment fails when directory is replaced with a file of the same name"
I'm using .NET 6 on Windows on Azure App Services. The steps to reproduce in `cmd.exe` are roughly:

1. `git init`
1. `dotnet new web`
2. `md wwwroot`
3. `md wwwroot\test.txt`
4. `echo test > wwwroot\test.txt\test.txt`
5. `git add .`
6. `git commit -m inital`
7. Push to GitHub
8. Using ClickOps&#8482; in the Azure Portal, create a new App Service with the following properties
    1. Windows Host

[2021-11-13 04:33] AustinWise commented on #200
@BALAGA-GAYATRI I'm going to close this and replace with #201, which explains the problem more crisply.

@RichMercer I think the file moving inside the `Microsoft.AspNetCore.Identity.UI` package when upgrading to v6.0.0 is the common element between your problem and my problem. For your bug, perhaps there is a bug in the `Microsoft.NET.Sdk.Razor.StaticWebAssets.targets` file or the `Copy` MSBuild

[2021-11-13 04:33] #200 closed

[2021-11-14 10:37] VILLAN3LL3 opened #202 "Virtual Application Support"
The issue #33 is marked as stale.
That's why I opened a new issue:
Are there any news regarding the virtual application support for azure web apps?
If not: Is there a workaround I can use to deploy a web app to a virtual application folder of an azure web app?
Thanks!

[2021-11-24 07:47] sven5 commented on #60
You could even consider `runFromPackage`. https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-rm-web-app-deployment?view=azure-devops#runfromzip-notes
This saved some seconds on my deployment.

[2021-11-29 04:14] drewid commented on #56
This still is not described anywhere that I can find - what is supposed to be for app name and slot name for github actions.

[2021-11-30 00:23] saikirangit commented on #76
What is solution for this one?

[2021-12-06 20:40] lehtiton opened #203 "Deployment fails for docker compose / multi-container setup"
I cannot get the multi-container deployment working with azure/webapps-deploy action. I have tried so many different combinations of settings. I do get the multi-container stuff working when configuring manually from azure portal web app deployment center.

This is how I thought it to work from Github pipeline yml:

    - name: Update Azure Web App container image
      uses: azure/webapps-deploy@

[2021-12-07 00:57] danjagnow opened #204 "Kudu Sync fails with Error: EISDIR: illegal operation on a directory"
I have an ASP.NET Core Web Application based on .NET 5 that uses **azure/webapps-deploy** to deploy to Azure.  After updating the application to .NET 6, the Azure deployment fails.  The app runs fine locally on a Windows workstation.

My GitHub Actions YAML looks like this (with the app name changed):

[code]

The only change to that with the .NET 6 update was the `dotnet-version`, which changed t

[2021-12-07 01:35] danjagnow commented on #204
Workaround: I was able to open the Kudu Remote Execution Console and delete the **wwwroot** folder under **site**:

[code]

After that, the deployment proceeded with the .NET 6 flavor of the application.

[2021-12-07 01:55] danjagnow commented on #204
Oh, and I had to update from .NET 5 to .NET 6 under **General settings** under **Configuration** to make sure the correct framework was installed.

![image](https://user-images.githubusercontent.com/1059973/144951693-4ddd2806-660a-4ed4-9e64-5f2e4a559d20.png)

[2021-12-13 22:44] bibekgaihre commented on #60
It is taking one hour to deploy

[2021-12-14 07:16] sven5 commented on #60
@bibekgaihre  I think our content is too large. You should remove unnecessary files.

[2021-12-19 18:49] erfannariman opened #205 "Deployment Python Azure Webapp results in error 404 Not Found [IP: ..]"
This was working fine until couple days ago, each deployment results in the following error:

[code]

And this is our YAML:

[code]

[2021-12-19 19:33] erfannariman commented on #205
For those running into the same problem, setting ubuntu to the latest version solved the problem for us:

[code]

[2021-12-21 22:40] erfannariman commented on #205
I will reopen this issue, since we used `ubuntu-18.04` because `ubuntu-latest` gave  the following [problem](https://docs.microsoft.com/en-us/answers/questions/236856/microsoft-web-app-service-error-39version-glibc-22.html).

But now `18.04` gives the error stated in OP. Any solutions to this problem?

[2021-12-22 15:31] chprasad893 commented on #192
I was also getting the 404 error while deploying, after debugging I found the IIS server is throwing 404 because my commit message was pretty long (because of merging multiple commits using squash & merge option in the pull request in Github the description contained commit messages of all the previous commits before squash and this big commit message is now being passed as query parameter to Kudu

[2021-12-22 15:34] yubischiess commented on #192
Wow! What a find ... is there a way to prevent the GH action from sending that? This definitely tracks with our situation. I thought the resolution was swapping the container ... but to do that, i was making a small commit which likely is what solved the problem then.

[2021-12-22 16:37] chprasad893 commented on #192
I believe we need to make the changes in **src/actionparameters.ts** and raise a pull request to fix thing, I think instead of removing the entire commit message we can trim the long commit messages going beyond a fixed length.

From this [url](https://docs.microsoft.com/en-us/iis/configuration/system.webserver/security/requestfiltering/requestlimits/) the default size for maxQueryString is 2048 b

[2021-12-23 07:30] BALAGA-GAYATRI commented on #203
@lehtiton Are you using login action before calling this? If not you should use. You can directly use `azure/webapps-deploy@v2` and also please check if your `docker-compose` file path is valid or not. You may refer to [sample workflows](https://github.com/Azure/webapps-deploy#create-azure-web-app-and-deploy-using-github-actions).

[2021-12-26 10:21] LycanII commented on #154
Hi All,
I tried @BALAGA-GAYATRI solution it still deployed to the 'site\wwwroot' folder, any other solution I can try?

[2021-12-28 09:08] danmana commented on #138
I had the same issue with a Node+Angular app and App Service with Node 16 ... but it magically *went away overnight*.

[code]

It could have been some mixup with a previous canceled build ... as I was trying different things and canceled some builds that were taking too long. The next day pushing just a readme change triggered a successful build.

Now the build works fine, I just wanted to add her

[2021-12-28 13:28] danmana commented on #60
I came across a solution for this accidentally.
Basically split the workflow into 2 jobs: build & deploy (just like the default workflow template does), but copy between them only the needed files without node_modules.
To do this, I create a zip at the end of the build and unzip it at the beginning of the deploy step.

I had to do this zipping anyway because Github was complaining that I was movin

[2021-12-28 14:31] danmana commented on #60
The workflow described above runs in **~10 minutes**, out of which the deploy part is the longest.

On my second attempt, I configured the workflow to deploy and [run from ZIP](https://docs.microsoft.com/en-us/azure/app-service/deploy-run-package), which is much faster - total time **~3 minutes** (~1:45s build, ~30s deploy)

Step 1, in Azure configure the app to run from package, and disable the O

[2021-12-29 02:57] chadmcgowan commented on #60
@danmana thanks this was extremely helpful... I also had to update the azure startup command to npx serve -s /build to run the app... this is under Configuration/General Settings

[2021-12-30 05:28] rabollin commented on #60
/assign

[2021-12-30 13:33] ladykraken opened #207 "https://docs.microsoft.com/azure/virtual-machines/managed-disks-overview"
Fixed Typo
 ​    Azure Unmanaged Data Disks have a maximum size of 4095 GB. To use **disks** larger than 4095 GB use [Azure Managed Disks](https://docs.microsoft.com/azure/virtual-machines/managed-disks-overview)

[2022-01-04 00:25] ladykraken opened #208 "I am sharing 'theladykproject.wordpress.2021-12-16.000.xml' with you from WPS Office"
WPS Office: Complete office suite with PDF editor

Here's the link to the file:
https://us.docworkspace.com/d/sICStu5CTAZinzo4G

Shared from WPS Office:
https://kso.page.link/wps

[2022-01-05 00:50] trapgar commented on #60
@danmana Were there any other changes you had to make to the app service, yml, etc.? Currently my website is failing to load. Logs reveal "Error: Cannot find module '../scripts/start'".

[2022-01-05 01:01] isaacrlevin opened #209 "Publish but not overwrite content?"
I am using the webapp workflow to deploy a webjob to Azure App Service based on #3

The issue that I am having is that the contents are completely overwritten (everything under wwwroot is deleted). Is there a way to not overwrite content of the root folder?

[2022-01-05 07:51] danmana commented on #60
@trapgar no other relevant changes that I can think of.

Is `scripts/start` a file that you have defined?

Do you have a "start" script defined in package.json? If so, this is what Oryx will execute.
If you have only the "main" property defined instead, make sure the path to the file is correct.

Check out the Oryx docs to see what commands it uses to run the app  https://github.com/microsoft/Oryx

[2022-01-05 11:11] 0gust1 commented on #60
A side note/improvement : before the build, it's better / quicker to do `npm ci` than `npm install`
ref: https://docs.npmjs.com/cli/v8/commands/npm-ci

[2022-01-05 12:04] nyongonyirenda opened #210 "Not enough space on Disk, Failing to Deploy to Azure app Service"
Hi my react app is very small, i am trying to deploy it to azure app service but i am getting an error on deployment.

Cleaning up temp folders from previous zip deployments and extracting pushed zip file C:\local\Temp\zipdeploy\nbtme5br.zip (111.13 MB) to C:\local\Temp\zipdeploy\extracted
There is not enough space on the disk.\r\n
Error: Failed to deploy web package to App Service.
Error: Deploym

[2022-01-05 13:40] danmana commented on #60
Yes, as @0gust1 mentioned, you can also use `npm ci`.
When using `npm ci` you should remove the `cache: 'npm'` configuration, because it always performs a clean install so caching node_modules only wastes time.

Besides the functional difference between `npm ci` and `npm install`, in my experience caching and npm install works just as fast if not faster than `npm ci`. ymmv

[2022-01-06 05:03] rahulaga-dev commented on #210
@nyongonyirenda its targeted for Linux or windows app service ?

[2022-01-08 21:59] trapgar commented on #60
@danmana Thanks for the reply. `scripts/start` is a script file that is defined by a library. The application is a ReactJS app created using `npx create-react-app my-app`.

Since this is just for a personal app it's not particularly important that I get this faster than the ~10m per run I have it at now, so I've decided to shelve it until I finish the app itself.

[2022-01-10 04:32] mcdurdin opened #211 "If symlinks are removed after their target file during a deploy, the deploy fails"
For example, I had removed the npm package acorn from a website and attempted to deploy.

The node_modules/acorn/ folder was removed successfully, but the node_module/.bin/acorn symlink, which points to ../acorn/bin/acorn (i.e. node_modules/acorn/bin/acorn) cannot be removed, with the error: `Error: ENOENT: no such file or directory, stat '/home/site/wwwroot/stripe-node/node_modules/.bin/acorn'` (

[2022-01-14 10:05] CFCIfe commented on #95
Hello @Duchynko , can you share how you were able to resolve the issue?

[2022-01-18 08:40] rahulaga-dev commented on #189
@thewilkybarkid : did you tried above suggestion and let us know if that helped ?

[2022-01-18 08:44] rahulaga-dev commented on #208
@ladykraken : this repos issues deal with webapps-deploy GitHub Actions, closing this for now. Feel free to open if you see any issue with this action (please provide more contextual information)

[2022-01-18 08:48] #208 closed

[2022-01-18 08:50] rahulaga-dev commented on #207
@ladykraken : this repos issues deal with webapps-deploy GitHub Actions, closing this for now. Feel free to open if you see any issue with this action (please provide more contextual information)

[2022-01-18 08:50] #207 closed

[2022-01-19 16:09] isaacrlevin commented on #209
@BALAGA-GAYATRI have you had a chance to review this?

[2022-01-19 22:25] henrikcomes opened #212 "Deployment Failed with Error: LinuxFxVersion or WindowsFxVersion should not be null or both set, and should be of the format 'DOCKER|<image_tag>'. eg: DOCKER|appsvc/node:12-lts_20200101.1"
I have an Azure App Service of kind "app,linux,container".
Building and Pushing my Docker Image is working completely fine and my build shows up in my registry.
But the deployment step is just not working.

This is the error I get when running the action:

In my App Service Template I only have LinuxFxVersion twice and it is the same value.
`"linuxFxVersion": "DOCKER|myregistry.azurecr.io/app:1720

[2022-01-19 23:03] henrikcomes commented on #212
So it seems that I did not completely understand how variables work.
I replaced `${GITHUB_RUN_ID}.${GITHUB_RUN_NUMBER}` with `${{ github.run_id }}.${{ github.run_number }}` and now everything works fine.

[2022-01-19 23:03] #212 closed

[2022-01-20 15:24] nyongonyirenda commented on #210
Hi I thought I had replied, its windows app service. Is the space error coming from on windows or github?

[2022-01-23 17:27] rahulaga-msft commented on #203
@lehtiton were you able to try with steps suggested above _Are you using login action before calling this? If not you should use. You can directly use azure/webapps-deploy@v2 and also please check if your docker-compose file path is valid or not. You may refer to sample workflows._

[2022-01-23 17:38] rahulaga-msft commented on #204
@danjagnow we will investigate this case. Between - did you try recently and is the issue still happening?

[2022-01-23 18:07] rahulaga-msft commented on #210
@nyongonyirenda we will look into it. Meanwhile, under which app service plan your app is deployed?

[2022-01-23 18:15] rahulaga-msft commented on #211
@mcdurdin is this targeted for app service on Windows or Linux?

[2022-01-23 18:33] rahulaga-msft commented on #189
@thewilkybarkid I am marking this issue closed for now. Please re-open if the above suggestion did not work out and share workflow.

[2022-01-23 18:33] #189 closed

[2022-01-23 18:33] mcdurdin commented on #211
Linux

[2022-01-23 18:50] nyongonyirenda commented on #210
Hi, currently it's in the free plan, which has a shared 1GB space which is mostly free? Could this be the reason?

[2022-01-24 14:46] danjagnow commented on #204
After the workaround I described above, I haven't encountered any further issues.  I have been able to deploy several other changes to Azure with a .NET 6 codebase without further problems.  But since at least one other person has encountered similar symptoms, I thought it would be helpful to document the issue.

[2022-01-24 18:12] venkatadorisala opened #214 "WebJob deployment fails with CODE:414"
I'm using `webapps-deploy@v2` action to deploy .net core web job build artifact into Azure app service.  But it's giving below error everytime.

[code]
I guess that it's due to the length of the app service name. Since the same workflow works well with other app services which have 1 character less in the name  For e.g below app services gets deployed successfully with same workflow.

[code]

The

[2022-01-24 18:50] fizgig commented on #151
I am having the same issue, it's pulling in my debug web.config instead of my release version.  Is there a fix for this?

[2022-01-28 12:15] ladykraken opened #215 "Test"
https://github.com/VSC-Service-Account/hooktest/blob/78dd09515c4ba5ab6d2cc563d8f1214697e90460/README.md

[2022-01-28 18:03] #215 closed

[2022-01-29 11:02] ladykraken commented on #207
@rahulaga-msft
Thank you for the tip!

[2022-02-01 04:38] rahulaga-msft commented on #204
Thanks for info @danjagnow. For now, I am closing this case, if you happen to encounter it again, you can reopen it.

[2022-02-01 04:38] #204 closed

[2022-02-03 19:30] gabrielknot opened #216 "Container Deploy very slow using NodeJs"
I'am developing an pipeline to deploy several applications on azure Webapps/Functions. But using azure/webapps-deploy@v2 with container application we get an particular problem, the deploy was executed as expected, and the function was up and running with the app. But the action get into a loop trying to redeploy the aplication several times and stuck on Github Actions until fail by timeout.

Can

[2022-02-04 06:39] ladykraken opened #217 "​﻿IOTC_DEVICEID,IOTC_DEVICENAME ​sampledevice-1,Sample Device 1"
https://github.com/Azure-Samples/iot-central-docs-samples/blob/master/bulk-upload-devices/IoT Central Bulk Upload Sample File.csv#L1-L2

[2022-02-07 19:21] swetharao12 commented on #76
Any solution for Azure/webapps-deploy@v2 invalid header?

[2022-02-09 21:31] alfjjacob commented on #216
Facing the same issue. Deploying a ReactJS app via container registry is stuck after 'Restarted app service' message. In my case, it does NOT seem be getting into the re-deployment loop though. The App seems to be running as well

![image](https://user-images.githubusercontent.com/856877/153293245-4d839eb8-a09e-45fb-b7df-3f13212de017.png)

[2022-02-10 14:32] rahulaga-msft commented on #216
@alfjjacob : we are looking into this performance issue, between can you please provide time taken for specific steps in azure/webapps-deploy@v2 ? also the time it took in the build phase.

[2022-02-10 15:00] alfjjacob commented on #216
@rahulaga-msft - Build is taking ~5secs but the deploy is stuck for several minutes
![image](https://user-images.githubusercontent.com/856877/153434368-515e0839-3eee-4322-ae4a-2cb0bf7b8a6b.png)

[2022-02-10 15:39] amindev7 opened #218 "Error Failed to get app runtime OS"
My deploy script fails with this error:

**Error: Deployment Failed with Error: Error: Failed to get app runtime OS**

<img width="902" alt="Skärmbild 2022-02-10 163405" src="https://user-images.githubusercontent.com/42947739/153441505-cfa1fb0d-7163-4398-a30f-5aa2bf149724.png">

If I deploy the container manually from Azure Portal, it works fine.

Any hints about this error?

[2022-02-11 01:18] trapgar commented on #60
Finally got it working. Build is now ~5m 51s down from ~13m 3s. Still not ideal as my app is pretty small, but I think it's as good as I'm going to get for a Node app given all the packages they usually pull in.

Issue ended being a mix of `node_modules` unnecessarily included in the zip, `package.json` & `package-lock.json` *not* being included in the zip (Onyx couldn't tell what Node version to

[2022-02-11 13:54] gabrielknot commented on #216
UPDATE: Having this same issue with any container deploy to WebApp, when the deploy hapens with Azure Functions the action works as expected.

PS: I made a mistake when I said this issue causes a loop, the deploy just stuck after conclusion and the log "Deployment passed!" without make any loop. The pipeline just stuck on this step, but the application update reflects on Azure Webapp.

[2022-02-11 20:05] ladykraken opened #219 "Windows/EN-US"
https://github.com/mozilla/policy-templates/tree/master/windows%2Fen-US

[2022-02-14 09:49] amindev7 commented on #218
Closing this one since I'm using publish profile with Private Endpoint which will not work.
So I had to use a service principal to authenticate.

https://docs.microsoft.com/en-us/answers/questions/632569/impossible-to-have-cicd-with-github-actions-on-azu.html

[2022-02-14 09:49] #218 closed

[2022-02-16 18:48] brugner commented on #60
Any update on this issue? I stopped the process after more than 3hs. I'm using the default file created by Azure Portal.

[2022-02-16 18:55] rabollin commented on #60
Hi - the defualt YML file created by azure portal builds file by file which will take longer time based on the no. of files. Can you try with the yml  here : https://github.com/Azure/webapps-deploy#create-azure-web-app-and-deploy-using-github-actions

[2022-02-22 09:13] sven5 commented on #60
This is really sort of annoying. We're deploying a Gatsby static App together with an express backend.
The package is about 1 GB (500MB static files and 500MB `node_modules`).
Deployment takes about 20 minutes on Linux App Service. 😢

[2022-02-22 09:25] rabollin commented on #60
Can you provide your GITHUB workflow file used for deployment?  If you have to many files then the recommendation is to zip and deploy that will expedite the process.

[2022-02-22 09:39] sven5 commented on #60
@rabollin I'm using Azure Pipelines and I'm already using zip and ignoring unused files using `.artifactignore` file.

Here we have a part of my build pipeline script.
[code]

The build runs in about 5 mins. But the AzureWebApp@1 task for deployment is really slow.
See a snippet of my deploy pipeline:
[code]

[2022-02-22 12:49] vinicius-batista commented on #64
Is there any update on this? I'm trying to build a similar workflow described and facing the same issue. In practice, when I run swap, my application goes to old version deployed to staging slot, while I expected to swap after staging slot has the new deployed version.

[2022-02-25 14:34] jeancroy commented on #151
1) Yes I had same file as [aspnet-windows.config.yml](https://github.com/Azure/azure-functions-ux/server/src/workflows/2020-12-01/web-app-configs/aspnet-windows.config.yml) except for placeholder like ~__sitename__`, they have been filled in.

2) I was able to fix my issue by adding
   `/p:Configuration=Release`

At the end of
`run: msbuild /nologo /verbosity:m /t:Build /t:pipelinePreDeployCopyAll

[2022-02-28 14:20] petetnt opened #220 "--sdk-auth has been depricated"
Similar to Azure/github#152, the `--sdk-auth` parameter recommended in the README has been deprecated. Root issue is at https://github.com/Azure/azure-cli/issues/20743

See https://github.com/Azure/webapps-deploy#configure-deployment-credentials-1 on how it's used.

There should be new instructions how to translate the values output by the command without the flag to ones needed by `@azure/webapps

[2022-02-28 18:38] petetnt commented on #220
FWIW the documentation change could be something like this::

[2022-03-08 20:26] kyleburnsdev opened #221 "Release Annotation not being automatically created for deployment"
When deploying application to App Service, release annotation is not being created in the associated Application Insights instance.

App Service Details:

- App Service Plan (B1) running Linux OS
- Attached Application Insights (Log Analytics Workspace)
- Java 11 runtime stack with integrated web server

Github workflow details:

- Github action using Azure credentials in stored secret (not Publis

[2022-03-10 12:27] gabrielknot commented on #216
UPDATE: I tried to resolve this issue to open a PR on this repository, and I've found the function where the problem happens, but I cant resolve this without broken another feature on this action.
To resolve this issue, I just remove the if statement which calls the addAnnotation method (from 'azure-actions-appservice-rest/Utilities/AnnotationUtility')  on method    UpdateDeploymentStatus and the

[2022-03-19 23:54] anrub commented on #113
Any updates on the ability to automate blue green deployments? really strange, that this is not a default use case for deployments.

[2022-03-23 08:49] boris-tarasov-maersk opened #223 "Is this also suitable for use in azure function deployments for containers?"
While trying to follow Azure Function app deployment configuration UI in Azure portal I am getting following example of yaml pipeline generated:

![image](https://user-images.githubusercontent.com/75432520/159659567-8f55d07e-77ca-4bc4-ae85-1477f2b341ab.png)

[2022-03-31 01:35] alexpoontm commented on #154
Hi, I got same issue about that. Have you find any workaround?

[2022-04-01 13:17] boat-priyanka-agrawal opened #225 "Error on deploying artifact to azure app service"
Hi,
I am using the webapps-deploy v2 github action to deploy artifact to azure app service, and getting the following error -

**Step Details –**
Run azure/webapps-deploy@v2
  with:
    app-name: test
    publish-profile: ***
    package: ./pl/public
    slot-name: production

**Error Message -**
Package deployment using ZIP Deploy initiated.
Fetching changes.
Cleaning up temp folders from previou

[2022-04-06 17:56] carlos8k commented on #214
@venkatadorisala did you find a solution for this issue? I'm facing the same problem.

[2022-04-18 19:05] rabollin commented on #128
This has been fixed and not reproducible with latest bits.

[2022-04-18 19:05] #128 closed

[2022-04-18 19:58] JasonFreeberg commented on #225
Assigned to me, need to create WI for Windows

[2022-04-18 20:28] JasonFreeberg commented on #199
Thank you but this request is declined due to other priorities.

Plus, I don't think it's a good practice to have that information in source control where a less sophisticated user could make the easy mistake of forgetting to remove the secrets as they put the publish profile into their repository.

[2022-04-18 20:28] #199 closed

[2022-04-18 20:30] JasonFreeberg commented on #209
@rahulaga-msft FYI this would be addressed by updating webapps-deploy to use OneDeploy. That API has functionality for this type of scenario.

[2022-04-18 21:02] JasonFreeberg commented on #223
@boris-tarasov-maersk Yes it should work the same, but thanks for the feedback. I filed a WI on our backlog to clear up the confusion.

[2022-04-20 19:48] donniehale-awh opened #227 "Error: Resource {app-service-name} doesn't exist (but it definitely does)"
The output from the `azure/webapps-deploy@v2` step is:

[code]

(Resource names changed, but I've done string comparisons.)

I'm using the same workflow yaml in this product/repository as I'm using in another one where it's working fine - pretty straightforward:

[code]

I know that the login works and that the app service exists because the `az` command in the `Verify app service` step succeeds a

[2022-04-21 20:37] donniehale-awh commented on #227
I didn't change anything, but this seems to have resolved itself. I set the `ACTIONS_STEP_DEBUG` secret to `true` to see if it would yield any information. Then I re-ran the failed job (second of a two-job workflow). The job succeeded, and the app worked in the app service.

So I deleted that secret and re-ran the previously failed (but now just succeeded) job. It succeeded.

Then I re-ran the ent

[2022-04-21 20:37] #227 closed

[2022-04-27 00:19] bluefirepatrick commented on #154
bump.  I am trying to deploy a subdirectory of a git repo to an Azure App Service via actions.  ex: the repo has an /api and a /client directory and I just want to deploy /api as the root of the web service.  (I think this is the same issue as OP).  I believe that a .deploy file in the root will be ignored since I am using CI/CD.  Is there a setting in the yaml that can accomplish this?

[2022-04-27 02:58] rabollin commented on #216
Reviewing the deployment step to determine why it is taking longer

[2022-05-01 15:12] kimmy-wang opened #229 "Deploy very slow using NodeJs"
14 minutes to build, 25 minutes to deploy and it's not over.

[2022-05-02 15:07] rabollin commented on #214
@JasonFreeberg - Please check this issue out, it is with Java on Windows.

[2022-05-03 17:54] JasonFreeberg commented on #214
@rabollin It doesn't seem like this is at all specific to Java. Their logs say that the request failed with `Request-URI Too Long (CODE: 414)`. Looks like our frontends are rejecting the deployment request because the URL is too long?

[2022-05-03 18:01] JasonFreeberg commented on #214
Possibly related to #192 -- the action is sending the commit message in the deployment request. If the commit message is too long, then the deployment request fails.

PR from community: https://github.com/Azure/webapps-deploy/pull/226

[2022-05-12 11:39] rbinder-vg commented on #190
@BALAGA-GAYATRI I got the same issue on my self-hosted runners.

[code]

It seems there is a unresolved git diff in the package.json of tunnel in the current
 v2 release.

[code]

[2022-05-13 08:25] josephh opened #230 "How to undeploy zip-deployed webjob through github actions"
Hi, I'm using `azure/webapps-deploy@v2` to push a zip file up to a webjob hosted in app services.  If i want to undeploy the previously deployed version of the zip, is there a recommended way to do that?  A "partner" github action or deployment option?
thanks

[2022-05-15 01:51] voltura commented on #154
Any updates?
I want to deploy webapp to wwwroot and web api to wwwroot\api
Created virtual application path in azure.
Cannot get yml syntax to work in github actions web api still overwrites web app and puts web.config pointing to api in web root... I can however publish api and app via vs directly without using github actions and this works fine; web app in root and api in subfolder api

[2022-05-19 16:39] lastcoolnameleft opened #235 "Step doesn't respect ${{ env.GITHUB_RUN_NUMBER }}"
I'm using this action to deploy my built image and `${{ env.GITHUB_RUN_NUMBER }}` to set the image tag, but it doesn't doesn't appear to work:

Here's the code ([link](https://github.com/lastcoolnameleft/duckiehunt/blob/20f43f704ab53ebf29d89d7171ba0de632d40ae9/.github/workflows/docker-image-build-push-deploy.yml#L40)):

[code]

Here's the action output ([link](https://github.com/lastcoolnameleft/d

[2022-05-25 15:11] WadeParallon commented on #190
I've been deploying `webapps-deploy@v2` fine till about 30 days ago then this error started occurring. Looking at files on the server we confirmed that the package.json file looked like @rbinder-vg's file.

Can confirm rolling back to `webapps-deploy@v1` let's us get past this issue.

[2022-05-26 14:37] mditz-intermediait commented on #135
Someone could resolve this issue?

[2022-05-29 07:43] voltura commented on #154
I solved it by modifying the environment variable **DEPLOYMENT_TARGET** before deploying. This variable is used by the deployment script _C:\home\site\deployments\tools\deploy.cmd_ (can be viewed in azure portal > web app > advanced tools > debug console). By modifying this variable before deployment from workflow the web app's files including web.config in wwwroot is not overwritten by the deploy

[2022-06-07 00:16] jsodeman opened #236 "How to deploy single project from ASP.NET 4.8 solution?"
I have a solution that holds multiple web apps in sub-folders. Using the setting below, the contents of the entire solution end up being copied onto the Azure Web App. Is there a way to use this action to deploy a single project?

[code]

[2022-06-07 02:07] jsodeman commented on #236
I found the answer, I needed to use a folder publish profile in the build step and then point the deploy to that folder.

[code]

[code]

[2022-06-07 02:08] #236 closed

[2022-06-13 19:57] wmmihaa commented on #196
### If anyone is still getting this error, here is the solution and a desctiption of what likely caused the problem.

Before GitHub actions were a thing, we used Kudo directly from the Deployment Center of the App Service. However, becase our solution had multiple projects, we had to set a `PROJECT` configuration variable so Kudo would understand which project to deploy.

Since then, we have copie

[2022-06-13 19:57] wmmihaa commented on #42
### If anyone is still getting this error, here is the solution and a desctiption of what likely caused the problem.

Before GitHub actions were a thing, we used Kudo directly from the Deployment Center of the App Service. However, becase our solution had multiple projects, we had to set a `PROJECT` configuration variable so Kudo would understand which project to deploy.

Since then, we have copie

[2022-06-15 21:27] DeLuca-Marco commented on #190
I am facing the same issue. And I can confirm @rbinder-vg's finding.

[2022-06-20 00:00] alexmiddeleer commented on #60
As far as I can tell this is still an issue for greenfield projects. I am just trying out Azure for the first time today, but I am mostly choosing defaults for everything.

1. I created a GitHub repo with no code in it.
2. I created a node web app in Azure, connected to my repo and with a deployment configured (everything default except I changed the default branch to a branch called ci, since I d

[2022-06-24 13:41] 8osm opened #237 "Action never times out if the target web app does not exist"
### Workflow File (sensitive info redacted)
[code]

### Web App environment
- Linux Web App
- Python 3.9
- P1v2 ASP

### Steps to reproduce the issue
1. Create an Azure Web App
2. Export the publish profile and import it as a secret into GitHub
3.  Create a workflow that uses this secret as a publish profile for the action
5. Delete the Web App created in the first step
6. Run the workflow, the wo

[2022-06-28 00:18] JasonFreeberg commented on #237
@surenderssm -- In the immediate term it would be good to set a more reasonable timeout for this (such as 1 hour). An optional parameter would also be a nice addition:

[code]

[2022-06-28 00:24] #230 closed

[2022-06-28 00:24] #223 closed

[2022-06-28 00:26] JasonFreeberg opened #238 "Use the new `/api/publish/` API for deployment"
There is a new deployment API, `/api/publish/` which has many more features over the `/zipdeploy/` API. It's currently used in the Azure CLI, plugins for Maven and Gradle, and it would be great to see it used here as well.

[2022-06-29 21:09] wmmihaa opened #239 "Wrong Commit Id for deployment to App Service"
We're using azure/webapps-deploy@v2 for deployment of Azure App Service. After a successfull deployment the commit Id as found under *Deployment Center/Losgs* has no relation to GitHub,  the *Author* is not set and the Message makes no sense and can not be read. As we have many sites deployed from the same repo, it is essintial for us to know which commit id is deployed.

![image](https://user-ima

[2022-07-06 12:17] kgparmar739 opened #240 "Deployment Failed with Error: Error: EISDIR: illegal operation on a directory, read"
I have an ASP.NET Core Web Application based on .NET 6 that uses azure/webapps-deploy to deploy to Azure.
I have created fresh app service plan and app service using terraform.
I am using **oidc authentication.**

My GitHub Actions YAML looks like this (with the app name changed):

[code]

Here is the debug log: [I have removed few information ]

[code]

I have tried to follow the workaround steps

[2022-07-06 13:57] kgparmar739 commented on #240
I was figured out the issue and able to resolve it.

It was due to my download artifacts where i have given the folder name with .zip extension and it was the cause of it.

[code]

Here downloaded artifacts were store in the weapp.zip folder not the file.. I was assuming it was file.

[2022-07-06 13:57] #240 closed

[2022-07-20 14:58] #205 closed

[2022-07-20 14:58] erfannariman commented on #205
Not sure if this problem is solved, but I will close this issue for now since it looks stale.

[2022-07-27 08:52] rabollin commented on #229
Triaged and added to backlog.

[2022-07-27 22:30] ThePieMonster opened #242 "App Service Cannot Deploy Via GitHub Actions on B1 Plan"
I am using the Azure App Web Service B1 plan that has only 1 slot. I am trying to use GitHub Actions web-deploy to deploy the Node.js application.

I have code snippets of the issue on StackOverflow below, but it seems I am unable to deploy using this app plan.

https://stackoverflow.com/questions/73145205/azure-app-service-publish-profile-is-invalid

[2022-07-28 18:47] ThePieMonster commented on #60
Interested in what @alexmiddeleer said as well. I have a GitHub Actions file setup and I can see below that the deployment is taking over 20 minutes. There should be some way to trim this time down, no? I tried sending a zip file instead of individual files but that takes over 30 minutes if I use a zip file.

Any suggestions would be appreciated.

![image](https://user-images.githubusercontent.com

[2022-08-01 13:54] DavidBoike commented on #192
It is not idle, it's waiting for someone to look at https://github.com/Azure/webapps-deploy/pull/226

[2022-08-05 08:53] shpraka commented on #242
@ThePieMonster Can you please share some more details here? The link mentioned in the above comment is broken.

[2022-08-05 09:14] shpraka commented on #235
@lastcoolnameleft Looking at the code below, in the last line we can change it to GITHUB_RUN_NUMBER, remove env.

code with typo:
  ` images: ${{ env.CONTAINER_REGISTRY }}/gh/duckiehunt:${{ env.GITHUB_RUN_NUMBER }}/`

code with fix:
       `images: ${{ env.CONTAINER_REGISTRY }}/gh/duckiehunt:${{ GITHUB_RUN_NUMBER }}/`

[2022-08-05 09:14] #235 closed

[2022-08-05 09:29] shpraka commented on #216
We are tracking this issue as https://github.com/Azure/webapps-deploy/issues/229.

[2022-08-05 09:29] #216 closed

[2022-08-05 15:52] ThePieMonster commented on #242
You can remove this inquiry.

[2022-08-05 15:52] #242 closed

[2022-08-09 12:50] mskuratowski commented on #227
Hi,

I'm facing the same issues as @donniehale-awh. I set `ACTIONS_STEP_DEBUG` secret to `true `but it still doesn't work in my case.

[2022-08-10 23:22] anjoantoque opened #244 "Deploy react in Azure app service Window (Publish: Code) With Private endpoint"
Hi,

Can you help me to figure out on how to deploy my package in azure app with private endpoints? My action is always failing, below is the error I am getting. Thanks

[code]

[2022-08-15 09:25] hungtranpg commented on #60
![image](https://user-images.githubusercontent.com/23351428/184610654-5b998376-0560-4421-b529-fe4cd1401a7d.png)
I removed `npm install` step and it run so quickly then. from 60m (fail) to 1m (success)
![image](https://user-images.githubusercontent.com/23351428/184610943-0e48a90e-de6b-44de-9170-07ec5bfc9621.png)

[2022-08-15 22:08] derek-munday opened #245 "Getting 404 response on event triggered GitHub action"
<img width="609" alt="Screen Shot 2022-08-15 at 6 01 21 PM" src="https://user-images.githubusercontent.com/21251294/184726302-d3a8791e-d52a-4fc7-9dbe-03bbf867c939.png">

webapps-deploy is giving a 404 response when the GitHub workflow is triggered by a push event. Running the exact same workflow manually via the GitHub UI results in a successful deployment of the app to Azure.

The workflow was pr

[2022-08-15 23:03] WDoughty commented on #192
Still not idle

[2022-08-16 02:48] darena-patrick commented on #192
I sent an approval on it hoping it might get some attention

[2022-08-18 15:14] viliusvig commented on #138
The same issue occurred deploying a .NET 6 application, however the next run completed successfully

[2022-08-18 22:07] Piedone commented on #56
`app-name`: What you see at the top of the blade on the Azure Portal. Can contain uppercase letters too.
`slot-name`: Also what you see at the top of the blade when you open the slot, before the app name in parenthesis.

E.g. if you created "My App" with the URL "my-app.azurewebsites.net", and a slot called Staging, then:
- `app-name` will be "My App".
- When you open the staging slot in the Azure

[2022-08-20 22:31] dennisameling commented on #229
I was also running into this. Deployments were taking more than 30 mins to complete. The reason is that Kudu takes the ZIP it receives, then extracts it, and copies all files into `/home/site/wwwroot`. Since Node's `node_modules` folder often contains tens of thousands of files, this causes things to be _super_ slow.

[code]

Luckily there's a setting that allows you to start the app _directly_ fr

[2022-08-30 15:37] wmmihaa commented on #239
Is there any planned action on this issue?

[2022-08-30 19:26] alexandru-travels commented on #245
Bump.
Having this exact same issue, and the workaround is indeed triggering the pipeline's/action run, by making a change through the Github's site.

[2022-08-30 19:35] derek-munday commented on #245
@alexandru-travels  we experienced this problem on a dev branch that had files and workflows that did not exist within main. We have since pushed the changes to the main branch and have not observed the issue since.

Is your situation similar?

[2022-08-30 20:12] alexandru-travels commented on #245
@derek-munday

So this is what I experienced today:

- edited a GitHub action workflow file (_for some arbitrary automated messaging change, through the Github site_) which only exists in our `master` branch, and is setup to be triggered when there's changes detected to the `master`  branch (_this is code I inherited and there's tech debt_)
- pipeline ran, no problems
- created a pull request to m

[2022-08-31 14:30] DavidBoike commented on #192
Still not idle

[2022-09-05 06:27] kdkim-ct commented on #209
I have the same issue.
Any workaround?

[2022-09-05 16:11] AndrewVos commented on #60
This is an incredibly poor experience for my first attempt at deploying a project to Azure.

My builds are taking longer than 10 minutes!

Netlify manages this in under 1 minute, on the FREE tier.

[2022-09-06 04:58] #192 closed

[2022-09-13 19:24] wmmihaa commented on #239
Please don't drop this issue

[2022-09-18 21:24] lanesawyer opened #251 "Unable to connect to private GitHub package repository"
Hi,

I'm trying to use the `azure/webapps-deploy@v2` GitHub Action to publish my site to Azure, but I'm running into trouble because I'm using a private GitHub package repository. I haven't been able to find any documentation related to this online, so I'm hoping asking here will get me some help.

When it runs, I get the following error:

`npm ERR! 401 Unauthorized - GET https://npm.pkg.github.co

[2022-09-22 06:53] shpraka commented on #245
@derek-munday are you still facing the issue? Do you have any more error logs other than the screenshot you shared?

[2022-09-22 07:13] shpraka commented on #251
@lanesawyer is the above GPR environment variable consistent with what mentioned here: https://stackoverflow.com/questions/66235852/cannot-consume-private-npm-package-hosted-on-gpr?

[2022-09-22 07:49] lanesawyer commented on #251
Yes, that's the token I'm referencing!

I tried adding the following step before the `azure/webapps-deploy@v2` and am still getting the authentication error when running the workflow:

[code]

I am still confused as to why `azure/webapps-deploy@v2` tries to do an `npm install` though if I've already uploaded a build artifact that it should be using. My config is practically identical to the [basic

[2022-09-22 08:50] shubham805 commented on #251
@lanesawyer Can you check if the app setting `WEBSITE_RUN_FROM_PACKAGE="1"` is set or not in the web app?
This setting will not build the app again.

If not, you can use the command below to set it
`az webapp config appsettings set --resource-group <group-name> --name <app-name> --settings WEBSITE_RUN_FROM_PACKAGE="1"`

refer this doc - https://learn.microsoft.com/en-us/azure/app-service/deploy-ru

[2022-09-22 20:43] lanesawyer commented on #251
Ahhhh that config did it. Deployment seems to be working now since it's not trying to reach out to the package manager anymore.

Appreciate the help!

[2022-09-22 20:43] #251 closed

[2022-09-27 02:33] darena-patrick commented on #227
I'm also having this issue. I turn on GitHub Actions debugging and call the same management.azure.com API that it says it's calling and I get a result... but GitHub actions doesn't get the result for whatever reason. I have 7 other Web Apps deploying using the same service principal in the same resource group in the same subscription. It has been hours since I created these app services. Some time

[2022-09-29 22:34] ITSWA commented on #190
This issue should be re-opened and addressed. I am also facing the same error/problem and have had to resort back to webapps-deploy@v1 to get it working.

[2022-10-06 03:52] ashishgururani1 opened #252 "Is there anything to move files/folders from azure blobstorage after the out-of-the-box deployment is done?"
web-app1 is deployed using the standard github connection and the default generated yml; and that is working as expected. Now, github source does not have some files like licenses.txt that is needed for the application to run (and we can't keep those files in github source control). Is there a way to add a deployment step to copy files from azure blob storage to the web app folder?

This is a .NET

[2022-10-06 09:54] girishpn commented on #154
Hi,

I have tried by setting the target folder for deployment in deploy.cmd, but still going to wwwroot folder.
![image](https://user-images.githubusercontent.com/37323123/194283632-bae2f904-dde8-414d-8b53-015ac7788240.png)

[2022-10-10 09:00] LennartMart opened #253 "Upgrade webapps-deploy to Node 16"
See https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/

[2022-10-11 10:50] girishpn commented on #209
Me also have the same issue. It overwrites all existing files, is it possible to exclude them ?

[2022-10-11 22:07] zeniale opened #254 "Preserve target folder content"
In my case I have an AppService on Azure where I have a root folder, where I publish the frontend, and an API folder where I publish the WebApi. The publication of these folders is done by two Actions of two different repositories. The problem is that publishing cleans the destination folder, so publishing one part of my project deletes the other. Is there an option to allow the TargetFolder to be

[2022-10-12 10:47] shpraka commented on #253
@LennartMart Thanks for the proposal. This is in our backlog, will keep you posted.

Let me know if you're interested in taking it forward.

[2022-10-12 11:14] shpraka commented on #252
@ashishgururani1 You can scm site to upload the file you want to site folder.

If you are using Linux App service use <scm-url>/newui/fileManager.

And if you are using Windows App Service, you can go to debug console and upload the file to site folder.

[2022-10-12 11:32] shpraka commented on #202
@VILLAN3LL3 is this targeted for app service on Windows or Linux?

[2022-10-12 11:34] shpraka commented on #203
@lehtiton were you able to get it working from the steps provided earlier?

[2022-10-12 12:32] ashishgururani1 commented on #252
Hello - Thank you so much for your response. It's a windows based app service. I was thinking of more of a automated solution since the automated deployments happen often that will run after the stock deployment. So, there is no yaml commands that can be added to do copy some files as the last step?

[2022-10-13 06:47] shpraka commented on #210
@nyongonyirenda it could be one reason. You could think of changing plan to use more resources appropriately. Please find more details for plans here: https://azure.microsoft.com/en-in/pricing/details/app-service/linux/

[2022-10-13 06:58] shpraka commented on #245
@derek-munday can you share your workflow file so that we can try to reproduce it and debug further?

[2022-10-14 16:10] VILLAN3LL3 commented on #202
@shpraka The app service runs on Windows

[2022-10-15 11:39] ywalia01 commented on #60
Same experience. A single page app with 2 routes and minimal packages is taking >3 hrs to build and deploy on Azure where Netlify takes <1 min. Smh

[2022-10-17 11:56] ayuina opened #256 "Specify resource group or app service environment."
Deployment failed when there are multiple app services which have same name. Of course we can't create Non-ASE app service which have duplicate name because all app services have same domaim suffix (azurewebsites.net) . But ASE app service can have duplicate name because ASE has unique domain suffix (asename.appserviceenvironment.net) each other.

This action seems to search app service instance b

[2022-10-18 02:05] elleklinton opened #257 "npm ERR! Error: EACCES: permission denied error during azure/webapps-deploy@v2"
Hi,

We use this workflow for our Azure deployment, and suddenly, the deployments started failing with this permissions error:
[code]

Before this errors out, a bunch of similar warnings are printed out:
[code]

This was working perfectly fine a couple weeks back, but suddenly errors out with this error whenever we try to deploy. Happy to share anything I can to get this fixed. It seems like an od

[2022-10-26 16:06] sbuzas-kr opened #259 "Failed to get resource ID from ARM API"
`Deployment Failed with Error: Error: Failed to get resource ID for resource type Microsoft.Web/Sites and resource name`

The action fails with the above error message and an unknown statusCode when the appService is not in the first page of results from the Azure Resource Management API. Below is the request to get the resource ID.

#### Example Workflow Steps:

[code]

#### Steps I've taken to v

[2022-10-27 09:13] shpraka commented on #245
@derek-munday a gentle reminder. We will be closing this issue by 4th November if we don't hear.

You can always re-open/create new one if issue persists.

[2022-10-27 12:12] JorritBootsma commented on #203
I am running into the same issue.

deploy.yml:
[code]

This fails with:
--
Deployment Failed with Error: Error: For single-container, just specify a valid image name. For multi-container specifying a Docker-Compose file is mandatory and specifying image names is optional. Provide image names if the tags in Docker-Compose file need to be substituted.

My project folder structure:
![Screenshot 2022-

[2022-10-27 12:32] shpraka commented on #239
Closing as per above comment.

[2022-10-27 12:35] wmmihaa commented on #239
Why has there been no activity?

[2022-10-27 12:38] shpraka commented on #239
@wmmihaa do you see the differece in behavior for all the commits?

[2022-10-27 12:40] wmmihaa commented on #239
The issue is still in production if that is what you mean...

[2022-10-27 17:11] joshmedeski commented on #211
According to https://github.com/Azure-App-Service/KuduLite/blob/dev/Kudu.Services/Deployment/PushDeploymentController.cs#L903 there is a `WEBSITE_ZIP_PRESERVE_SYMLINKS` environmental variable that can be set to properly preserve symlinks in the zipped package. My team is trying this we will report back if/how we got it working.

[2022-10-27 18:48] arti1zz opened #260 "Action is stuck"
Hello!

It seems there is a bug or I am missing something. I have a release script and today i switched action to run on my local pc(self-hosted). From now on, release script is stuck on deploy step.

How it looks:

      name: Deploy to Azure WebApp
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.sjsg_FFFF }}

[2022-10-31 09:45] shpraka commented on #260
@arti1zz could you share at which step the action is stuck? If possible, could you share the logs of the action run?

[2022-10-31 10:07] #260 closed

[2022-10-31 13:08] shpraka commented on #257
@elleklinton can please you check if the **WEBSITE_RUN_FROM_PACKAGE** is set to 1? Please make sure the app setting: **SCM_DO_BUILD_DURING_DEPLOYMENT** is not present?

[2022-11-01 19:50] duncansmart opened #261 ""set-output command is deprecated" warning in workflow"
Getting the following warning in my workflow using azure/webapps-deploy@v2:

[2022-11-02 00:46] BenjaminMichaelis commented on #261
I am seeing this as well with the same version

[2022-11-02 12:09] vr1e commented on #261
Already mentioned here: #253

[2022-11-07 09:06] kumaraksh1 commented on #245
@derek-munday, we are closing this ticket for now, you can always re-open/create the issue as mentioned by @shpraka.

[2022-11-07 09:06] #245 closed

[2022-11-07 16:51] wmmihaa commented on #239
Although the `Commit ID` field in Deployment Ceter is still showing the wrong ID, the `latest.json` file includes the SHA which is all we need.

As the UI is still wrong, I'll leave the issue open, but it's no longer an issue for us.

[2022-11-08 17:00] Diego-MX opened #262 "Container Registry value isn't parsed in image deployment"
## The Issue
The `images` value isn't parsing its corresponding container registry and tag when deploying to the webapp.
I have:
[code]
And I get the whole `images` value in the `Deployment Center` view in the Azure Portal.
![image](https://user-images.githubusercontent.com/9877444/200622808-eccf9561-e4c3-410a-8f2a-8f870d04cc95.png)

This results in a 503 error when reaching the webapp due to the

[2022-11-09 12:05] kumaraksh1 commented on #225
Hey @boat-priyanka-agrawal,
Could you follow the given issue which has some workaround for your issue?
https://github.com/microsoft/dotnet/issues/234

And let us know, if it resolves your issue or not.

[2022-11-10 20:14] alexandru-travels opened #263 "Deployment URL can get too long due to commit messages in url resulting in 404 error"
Just encountered a 404 using azure/webapps-deploy@v2 with the following definition:

[code]

And it died with

[code]

Any chance you guys can do a max length check on the proposed url it's about to invoke, using the commit messages strung together in the `messages` querystring arg, to save stupid people like me from themselves?

[2022-11-11 05:11] shpraka commented on #211
@mcdurdin I will close it then. Feel free to re-open it if you come across the issue again.

[2022-11-11 05:11] #211 closed

[2022-11-13 04:55] araujo88 commented on #203
I'm having a similar issue. When running the Github workflow with Azure I obtain the following error:

[code]

[2022-11-16 16:02] BenjaminMichaelis commented on #261
Want to make sure this doesn't go idle

[2022-11-16 23:34] FinVamp1 commented on #263
#192 is the same issue and there's a fix mentioned there.

[2022-11-17 07:17] kumaraksh1 commented on #225
@boat-priyanka-agrawal Please let me know if suggested workaround works for you.
We will be closing this issue on 25th November 2022.
You can always re-open/create the issue again.

[2022-11-21 09:24] ddynamight commented on #1
Does any body know what the contents of ${{ secrets.AZURE_CREDENTIALS }} whould be?

As this is not clear.

[2022-11-22 06:24] kumaraksh1 commented on #237
Hi @8osm,
We have reproduced this issue and will be fixing this issue soon.

[2022-11-22 08:40] kumaraksh1 commented on #259
Hi @sbuzas-kr
I tried to reproduce the issue but, in my case, things are working fine.

**Steps what I followed to reproduce the issue** -
1. Used following API to take an app from the next page of results.

[code]
 2. Hit this API, there will be results with nextLink to get the results of next page.
 3. Hit the nextLink to get the results from next page.
 4. Picked one app from the results.
5. St

[2022-11-23 17:02] stefanoz-cloud commented on #60
@MoatezNG could you provide your entire file .yml in copy? Thanks

[2022-11-24 12:21] kumaraksh1 commented on #263
PR for fixing the issue has been merged, changes will be released soon.
So I am closing this issue for now.
After a release, if issue still exists, we can always re-open it.
PR - https://github.com/Azure/webapps-deploy/pull/226

[2022-11-24 12:21] #263 closed

[2022-11-25 05:43] #225 closed

[2022-11-25 07:02] kumaraksh1 commented on #210
Hi @nyongonyirenda,
I am closing this issue for now.
Kindly let us know after changing the plan if issue still exists.

You can always re-open/re-create the same issue.

[2022-11-25 07:02] #210 closed

[2022-11-25 07:06] kumaraksh1 commented on #197
Closing the issue.

[2022-11-25 07:06] #197 closed

[2022-11-25 09:08] shpraka commented on #261
We are updating the version in our next release, do expect it to fixed by 2nd week of December.

[2022-11-25 09:19] shpraka commented on #257
@elleklinton Were you able to resolve the issue by changing the app settings?

[2022-11-25 09:27] shpraka commented on #151
Closing the issue, feel free to create new issue.

[2022-11-25 09:27] #151 closed

[2022-11-25 09:48] shpraka commented on #154
@imuller were you able to deploy to custom folder using DEPLOYMENT_TARGET environment variable?

[2022-11-25 15:43] girishpn commented on #154
I am able to do it via ftp method in workflow. It works fine for me. Zip deploy method will wipe out existing folders in root directory

[2022-11-28 05:43] kumaraksh1 commented on #259
Hi @sbuzas-kr,
I am closing this issue for now.
You can always re-open/re-open this issue incase of same issue.

[2022-11-28 05:43] #259 closed

[2022-11-28 07:00] shpraka commented on #261
We have updated the version and released it, please check and confirm if it's working fine now.

[2022-11-28 07:01] shpraka commented on #253
We have updated the version in our latest release. Feel free to create a new issue in case of any issues. Closing this issue.

[2022-11-28 07:01] #253 closed, assigned to nobody

[2022-11-29 21:39] Piedone opened #270 ""Invalid 'main' field" warning"
I get the following warning when running the action:

[code]

[2022-11-30 11:25] kumaraksh1 commented on #214
Closing this issue, we have merged the fix of this issue and it will be released by 1st week of december.

[2022-11-30 11:25] #214 closed